[2017-07-07 04:16] webmakersteve commented on #217
`isConnected` does not tell you the state of the broker - it just says whether node is connected to a librdkafka instance. All of the socket retrying, pooling, and management is abstracted away from the consumer of the library.

The reason the `isConnected` call exists is because I need to call "`connect`" to create a librdkafka class instance, which immediately opens a socket. It will only ever r

[2017-07-07 04:18] webmakersteve commented on #216
Can you force install from npm, `cd` into the directory, and then try to manually run `node-gyp rebuild` and give me the output from that? Unfortunately NPM does not report much more than the status code of gyp

[2017-07-07 05:57] thekingofworld commented on #216
the follows is output, thanks
----------------------------------
gyp info it worked if it ends with ok
gyp info using node-gyp@3.6.2
gyp info using node@6.11.0 | linux | x64
gyp WARN download NVM_NODEJS_ORG_MIRROR is deprecated and will be removed in node-gyp v4, please use NODEJS_ORG_MIRROR
gyp WARN download NVM_NODEJS_ORG_MIRROR is deprecated and will be removed in node-gyp v4, please use NODEJS

[2017-07-07 06:20] webmakersteve commented on #216
Unfortunately that didn't help much either :(

Is it getting to the point where it is compiling any files? Or does it fail before that? It looks like the configure step is failing in gyp which generally means you are missing a dependency.

What operating system are you running on? Can you try to install sasl anyway to see if that makes it work?

[2017-07-07 06:21] webmakersteve commented on #208
Thanks for the sleuthing! I would like to make this so keys get returned as buffers just like values do. I believe that would solve your problem.

I'll try to get a build out for you test in the next few days and we'll see if that satisfies the requirements.

[2017-07-07 08:16] alsiola commented on #217
Thanks for the recommendation, I'll go with that approach.

[2017-07-07 08:16] #217 closed

[2017-07-08 14:46] fega commented on #195
it was my error, closing :)

[2017-07-08 14:46] #195 closed

[2017-07-11 09:21] cjolif opened #218 "missing API to stop consuming"
In the context of tests, I would like to stop consuming. More particularly I want to stop the infinite loop that is started when consume() is called. Calling disconnect() does not seem to stop the infinite loop and I don't see any "un-consume" API?

[2017-07-11 12:37] alis-sol opened #219 "Loading problem in node-bindings dependency with Angular 4"
Hello,

Sorry in advance if this is a noob problem, but I'm new to front-end development and it seems like I must've been a really bad person all these years and thus been sent to hell. The latest problem is loading/using node-rdkafka and its dependencies, although it doesn't seem to be node-rdkafka's fault.

I'm using Angular 4 / Node (all latest) and tried loading node-rdkafka. After struggling

[2017-07-11 12:58] hugebdu opened #220 "KafkaConsumer.consume(cb) doesn't exist"
though is mentioned in API.

See [`else`](https://github.com/Blizzard/node-rdkafka/blob/master/lib/kafka-consumer.js#L352) branching - it cannot handle callback as a first argument.

[2017-07-11 13:44] alis-sol commented on #219
I also get these warnings when runnning ng serve:

WARNING in ./~/bindings/bindings.js
81:22-40 Critical dependency: the request of a dependency is an expression

WARNING in ./~/bindings/bindings.js
81:43-53 Critical dependency: the request of a dependency is an expression

[2017-07-12 09:56] armenthiz opened #221 "Authentication failure: (errno: Invalid argument) when Produce to secured sasl plain kafka."
Recently i was following https://developer.ibm.com/opentech/2017/05/31/kafka-acls-in-practice/ to enabled SASL PLAIN security in kafka.

Then when i want to use this library for produce to kafka secured sasl plain topic. i get this error

`Authentication failure: (errno: Invalid argument)`

This is code that i use to produce.

    var Kafka = require('node-rdkafka');
    var producer = Kafka.Produ

[2017-07-12 13:25] hugebdu commented on #196
@webmakersteve Stephen, any plans to publish v1.0.5?

Thanks!

[2017-07-16 12:33] fbalicchia commented on #204
Hi @webmakersteve  sorry for delay.
I' try with consumer-flow but I've the same result

[2017-07-16 13:44] hugebdu commented on #196
@webmakersteve Stephen, still on this issue.
I tried with v1.0.5 and now I see the following:
- rebalance_cb is called as expected
- once I call `KafkaConsumer#disconnect`, the rebalance callback fails on `consumer.unassign()` with error `Error: KafkaConsumer is disconnected` and I never get the `disconnect` callback/event, however seems like the consumer thread is still running since the node pro

[2017-07-16 16:01] pmidge commented on #196
I saw this behavior on earlier builds as well.

My primary motivation for calling `unassign` was to do a clean shutdown of the consumer process, I found it to be unnecessary. After a ton of experimentation and looking at the network traffic under different scenarios, the brokers will rebalance after the consumer disconnects, and the consumer flushes pending commits during disconnect.

Since unassi

[2017-07-17 04:10] gyamana opened #222 "Node process does not exit after subscribing to a Kafka topic"
Hello,

I am trying to troubleshoot an issue around our node.js applications not exiting gracefully.

I have an app which executes some code then terminates, but I find that the node process continues to stay alive after subscribing to a Kafka topic with node-rdkafka.

I notice that this is also the case (node process continues to live) when there is an uncaught error, where usually the node proce

[2017-07-17 09:49] kylezhang opened #223 "Which version of apache/kafka is the latest to support?"
## Which version of apache/kafka is the latest to support?
` 0.10.x or 0.11.x `

[2017-07-17 11:20] vipreshjha commented on #45
@mattness  now that RC3 of librdkafka is released is there any possibility of providing a install for windows?

[2017-07-17 14:24] michallevin opened #224 "Piping consumer stream to Rx, handling backpressure"
I would like to pipe the consumer stream to Rx and to handle backpressure. My logic consists of reading from a Kafka topic (using the consumer stream), normalizing the data, and uploading to AWS's S3.
I thought of:
1. "Pulling" messages from the consumer stream, and continuing to pull only when the service is ready to handle more messages (after uploading to S3). Is this possible with the new cons

[2017-07-18 03:02] webmakersteve commented on #224
The Kafka Consumer stream will not read unless the node stream calls read on it. The way node streams work is that the write stream has a write callback, and it will only read as fast as it can write. The read events are "deferred" in the sense that the read callback is expected to `push` data eventually, and the writes will not process anything until they get the readable event, which happens whe

[2017-07-18 03:06] webmakersteve commented on #45
The reason it doesn't work on Windows is not because the compile of librdkafka didn't work on Windows: we just aren't able to prioritize its implementation.

As @mattness  said we are happy to accept a PR to implement the changes, but it isn't the librdkafka source that will be the work - it is adapting the gypfile to accommodate for all windows platform specific things, it is generating the heade

[2017-07-18 03:07] webmakersteve commented on #223
I think `librdkafka` is tested on 0.10.x but it is said to support anything >= 0.9

[2017-07-18 03:09] webmakersteve commented on #222
The subscription itself shouldn't be the thing keeping the process alive, as it doesn't actually open any worker threads to do its work. It is likely the act of consuming that does.

What method of consuming are you using? Could you show me a sample and potentially your shutdown handler so I could see the sequence of events?

[2017-07-18 03:15] webmakersteve commented on #196
Just to clarify on what assignment is:

Assignment is an action done locally to your consumer to tell it what partitions and topics to make fetch calls to. A side effect of rebalancing is that your consumer assigns itself partitions, but assigning and rebalancing are related indirectly.

When you disconnect, if you were to call unassign prior, the broker would never know of your valiant effort to

[2017-07-18 03:17] webmakersteve commented on #204
The 30 second delay suggests no heartbeats are being sent, which could mean a network problem between your docker container and the kafka on the other side.

Do you have the topic `test` on your machine? Can you log the results of the `connect` callback?

[2017-07-18 03:23] webmakersteve commented on #221
I believe this happens when librdkafka is compiled without support for the authentication method you are using, but SASL should be enabled by default.

I'm going to add a method to help debug these types of issues and I'll release it today.

[2017-07-18 03:51] webmakersteve commented on #196
Sorry about the 1.0.5 release not being pushed - I think it may have went to our local NPM and not the outside NPM :(

In any event, I've published 1.0.6 which has the changes of 1.0.5. Also, the default rebalance callback (when opted in) `try...catch`es assign and unassign when in a shutdown state. Hopefully that helps with at least the throwing issue.

[2017-07-18 03:51] webmakersteve commented on #221
I have published a new release (1.0.6) that has a `features` property on the `node-rdkafka` object. Can you `console.log` the result of that?

[code]

[2017-07-18 03:52] webmakersteve commented on #220
You're right. This was deprecated several versions ago. I can update the docs - where did you see it?

[2017-07-18 04:01] webmakersteve commented on #220
You're right. That specific syntax was deprecated. I updated it in master so it should work the way you're using it, but unless you want to use it from master until I upgrade it, provide `undefined` as the first parameter and it should work.

https://github.com/Blizzard/node-rdkafka/commit/5396cfd2ff1497a0a9ef0d563fd03c9e4b640154

[2017-07-18 04:04] webmakersteve commented on #218
`disconnect` should stop the infinite loop that is started after a few seconds. Are you not seeing that behavior?

[2017-07-18 04:32] hugebdu commented on #220
That's what i do.
Thanks!

[2017-07-18 07:05] hugebdu commented on #196
@webmakersteve Steve, thanks for clarification.
So I also did `try...catch`.
I actually went deeper into the hole with `lldb` and found out that [that loop](https://github.com/edenhill/librdkafka/blob/master/src/rdkafka.c#L2080) spins forever once I have the [setup](https://github.com/Blizzard/node-rdkafka/issues/196#issuecomment-315609968) I've described.

How do I enable `rdkafka` logging you me

[2017-07-18 07:41] hugebdu commented on #196
Ok, found out how to enable logging. Thanks! :)

[2017-07-18 07:53] hugebdu commented on #196
Steve, so this is what I see in logs, and it is stuck forever:

`event.log {"severity":7,"fac":"CGRPTERM","message":"[thrd:main]: Group \"group.id_GHcHyIKC\": waiting for rebalance_cb, 1 toppar(s), 0 unassignment(s), 0 commit(s), wait-unassign flag, (state up, join-state wait-revoke-rebalance_cb) before terminating"}`

[2017-07-18 08:28] hugebdu commented on #196
Also might [this one](https://github.com/Blizzard/node-rdkafka/issues/5#issuecomment-248653518) be our problem?
Our need for `rebalance_cb` is only for our tests - we need verify broker is up and running before executing our tests so we rely on that callback. We don't need it in production since kafka cluster is up and running. Do you have any idea we could run our is_alive check without the `reba

[2017-07-19 09:49] kylezhang commented on #223
Thanks for your answer, but i hope your answer [like this](https://github.com/SOHU-Co/kafka-node/issues/712)
`0.11 should work without any issues.`

[2017-07-19 22:58] daves2552 commented on #45
@webmakersteve Can you provide a very rough estimate of how many developer weeks you'd expect that effort to take?

[2017-07-20 14:36] analytik commented on #186
Just in case this helps anyone, our Dockerfile does this to get node-rdkafka@1.0.x installed under Debian:Jessie -

[code]

[2017-07-20 20:56] ecastill opened #225 "npm ERR! node-rdkafka@1.0.6 install: `node-gyp rebuild`"
node-rdkafka stops the server from installing my project, I've added some of the errors I get below

* npm WARN optional dep failed, continuing snappy@5.0.5
* gyp ERR! not ok
* gyp ERR! node-gyp -v v2.0.1
* gyp ERR! node -v v4.2.4
* gyp ERR! cwd /app/node_modules/jda-rest-storage/node_modules/kafka-node/node_modules/snappy
* gyp ERR! command "/usr/local/bin/node" "/usr/local/lib/node_modules/npm/n

[2017-07-24 21:27] FuzzOli87 opened #226 "Replay ability"
Hello!

I've been looking for a way to tell a consumer to read from a certain offset. 'auto.offset.reset' works only if I change the groupId.

Do you have any suggestions into how to do something like this?

[2017-07-26 13:16] oliviertassinari opened #227 ""Error: KafkaConsumer is not connected" while disconnecting"
I have been using the steam API.
I have noticed that an error is, from time to time, thrown during the disconnection.
I use the following work around for now:
[code]

[2017-07-30 16:59] mjafarpour opened #228 "TLS error in run time"
Hi,
I want to use the lib but get this error in run time

`Error: /home/workspace/node_modules/node-rdkafka/build/Release/node-librdkafka.node: cannot allocate memory in static TLS block`

Node v4.2.6
Kafka 0.11
Ubuntu 16.04

[2017-07-31 19:19] webmakersteve commented on #228
Can you give any additional context? Is this part of a stack trace?

[2017-07-31 20:12] vsimonian commented on #45
I'm currently working on Windows support for `node-rdkafka`. Right now it's building, but there are some linking issues to be resolved, and I don't have `WITH_SASL` working just yet.

However, it's only been a day so far that I've been working on it, so I expect to be making headway with some time.

[2017-08-01 16:46] michallevin opened #230 "Error with npm i using npm 5.0.3 (nan?)"
Anyone encounter this? I cannot install node-rdkafka due to this error...
Had issues with node-gyp and ran with WITH_SASL=0 to no avail, now seeing this issue.

[code]

[2017-08-01 17:57] webmakersteve commented on #230
It looks like Nan can't compile because of missing types. What version of node are you using and what version of Nan are you trying to compile?

[2017-08-02 08:36] michallevin commented on #230
I am using Node v8.1.3.
I am not familiar with nan, and node-rdkafka uses v2.x, so I am not sure what version it is trying to use since the npm install will not complete.

When using Node v4.2.4, the npm install is successful and node-rdkafka uses v2.6.2.

[2017-08-04 20:04] FuzzOli87 opened #232 "Published version librdkafka version"
Hello!

The version published to NPM builds librdkafka@9.5. Is there a configuration I'm missing or are we still waiting for a new version to be published?

[2017-08-04 23:01] webmakersteve commented on #232
I haven't published the new `0.11` version because it has a failing test. I have submitted an issue here:

https://github.com/edenhill/librdkafka/issues/1357

Once I hear back and figure things out I can move forward from there. For now, you can install by specifying `Blizzard/node-rdkafka` in your package.json instead of just `node-rdkafka`.

[2017-08-07 08:06] utizr commented on #208
@webmakersteve do you have any news about buffered key version?

[2017-08-08 14:32] peanutpi opened #233 "librdkafka build dependency missing"
Description
===========
- We are currently using librdkafka as a Node module using [node-rdkafka](https://github.com/Blizzard/node-rdkafka).
- This whole setup runs on a Ubuntu 16.04 LTS OS.
- so when we install all the npm dependencies using `npm isntall`, npm builds librdkafka as well.
- & when we use this there are following logs in the console

[code]

- & after `npm install` successfully fini

[2017-08-08 21:10] RyanMelenaNoesis commented on #45
Just out of curiosity, is it even necessary to build librdkafka for Windows or would it suffice to simply use the [pre-built redistributable](https://www.nuget.org/packages/librdkafka.redist/)?

[2017-08-09 02:48] webmakersteve commented on #233
You shouldn't need to install `librt`. It is a core library that should probably be included on your OS. If it isn't, try installing `libc`. I believe it is included in that debian package. I think `build-essential` is a package that includes it in the default repositories for ubuntu.

[2017-08-09 02:50] webmakersteve commented on #208
I'm trying to cut a new release but there is a potential regression in the new librdkafka version that is stopping me.

Changing keys to buffers is a breaking change so I need to make a major bump to make it work, and I'd like to batch it with the change to the librdkafka version and potentially one other breaking change before I do it to avoid bumping up another major.

[2017-08-09 02:52] webmakersteve commented on #45
There is potential for that pre-built binary to work on Windows, but you would need to configure `node-gyp` to look for the library dependency there. It, too, would probably require changes to the code base to work, but may satisfy some of the complexity.

However, I do not think `librdkafka`'s compilation step is the problem stopping windows support from advancing. The vast majority of the proble

[2017-08-09 02:54] webmakersteve commented on #230
Sorry - could have sworn I answered this.

I am not sure Node v8.1.3 is supported just yet. I don't have it running anywhere or testing against CI just yet, so there may be some compatibilities there that need to be addressed.

I can try to reproduce this myself using node 8 to see if it's an easy fix, but I can also say that adding official node 8 support to node-rdkafka is something that will be

[2017-08-09 04:08] vsimonian commented on #45
Just a quick addition to what @webmakersteve said: In addition, `node-rdkafka` depends on `unistd.h`, which isn't a part of Visual C/C++, so a shim is needed (in my copy I am using an shim by Microsoft under the Apache licence). There are a few more details from what I remember, but I got sidelined with an important project that I need to take care of first before I can return to `node-rdkafka`.

[2017-08-09 05:11] peanutpi commented on #233
@webmakersteve : thanks. I've already installed `build-essential`. but still I am not able to connect to remote kafka broker. There are no logs of error or any other issues.

we are using following config

[code]

[2017-08-09 12:20] peanutpi commented on #233
The actual issue is found & resolved here : https://github.com/edenhill/librdkafka/issues/1367
so closing this issue.

[2017-08-09 12:20] #233 closed

[2017-08-09 14:13] RyanMelenaNoesis commented on #45
@webmakersteve Thanks for the quick response!

@vsimonian Any idea how long you'll be sidelined?  If you expect it will be a while, would you be able to check in what you've got so far to your branch?  I'd be happy to take a look at what you have and see if I'm able to move things a bit further down the field.

[2017-08-09 16:24] webmakersteve commented on #45
@vsimonian The only thing I'm using from unistd is usleep. You can just check what platform the code is running on and use the Windows equivalenet for that particular function instead of importing an entire polyfill.

[2017-08-09 17:42] vsimonian commented on #45
@webmakersteve Only thing from `unistd.h` being used is `usleep`, yes, so I trimmed it down. However, Microsoft's `stdlib.h` also does not have `rand_r`, because their implementation of `rand` is thread-safe unlike GNU `rand`. I macro'd it as a replacement in the header file. And it looks like the polyfill I was talking about was actually for `getopt`, but there's no use of `getopt` in `node-rdkaf

[2017-08-09 17:56] vsimonian commented on #45
@RyanMelenaNoesis I have the code up at https://github.com/vsimonian/node-rdkafka/tree/vsimonian-windows

I've sent you an invite for write access.

[2017-08-10 20:07] desiena commented on #221
Hi Steve. I'm seeing the same issue when producing with SASL_SSL. The output of the code you posted is
[code]

[2017-08-10 20:09] Pchelolo commented on #232
We're seeing some troubles with librdkafka0.9.something now, so if you need any help from us we can assist fixing it

[2017-08-10 20:40] webmakersteve commented on #232
I've already given a test case that reproduces the problem to Magnus. Just gotta wait for him to be able to prioritize it.

If you'd like to run the test case attached to that issue just to ensure it isn't something isolated to my machine, would definitely appreciate some more diverse reproductions :), but other than that I can't really upgrade the library for publish until it's resolved.

However

[2017-08-10 20:42] webmakersteve commented on #221
Can you add the config field `debug: 'security'` to your config and then post the logs of running your code there? It should give more information about authentication.

[2017-08-10 21:40] desiena commented on #221
I get two types of messages, those with `Broker SSL certificate verified` and those with `Auth in state CONNECT (handshake not supported)`.  I've found that adding `'api.version.request': true`, as specified [here](https://github.com/ibm-messaging/message-hub-samples/issues/16), to the config solves this problem.

[2017-08-10 21:42] webmakersteve commented on #221
Cool. If that fixes your issue I think we should add it to the docs or a wiki on the repo so it can help others who have similar problems. I'll leave the issue open until those docs are complete, unless you're having any additional problems.

[2017-08-10 21:56] desiena commented on #221
Sounds good. I'm not sure if this solves armenthiz's problem with sasl_plaintext though.

[2017-08-10 22:26] desiena commented on #221
Also, that config solves a similar issue with the consumer.

[2017-08-11 08:20] abbshr opened #235 "consumer stuck during consuming"
I use `kafka.KafkaConsumer` API to build a durable etl pipeline. It consume message one by one.

the skeleton is simple:

[code]

Sometimes consumer (seems) stucked, because it doesn't consume new message anymore while producer still producing more, thus the lag is getting larger.

- Kafka broker: v0.10.0
- node-rdkafka: v1.0.6

Log from broker is similar to these during consumer consuming:
[code]

[2017-08-11 17:33] webmakersteve commented on #235
If you only consume during the data callback, if there is an error the error will be silenced, and you will stop consuming.

You need to ensure that consume is getting called independently of whether data was flowing. The consume call can timeout after a given timeout, or when the broker gives a one time error that shouldn't stop execution.

If you use the Consumer stream all of this will be handl

[2017-08-12 07:50] abbshr commented on #235
@webmakersteve Yes, u r right. For all important events, I have set triggers on them, but nothing happened during consuming (or blocking).

Besides, I have tried stream API at the beginning. In fact, what I exactly need is **only make sure one message has been ingested (which is async operation) by the external system successfully, should the client commit this offset and proceed ingesting the nex

[2017-08-14 04:37] abbshr commented on #235
Do some trick on stream API, and fixed~

[2017-08-14 04:37] #235 closed

[2017-08-14 22:01] RyanMelenaNoesis commented on #45
@vsimonian Thanks for setting up access.  I ended up taking some of what you did but skipping the librdkafka compilation (for the time being) and instead utilizing the pre-built librdkafka redistributable binary.  I branched the the Blizzard repo and created a pull request from there.  Please let me know if you'd like me to integrate any of the changes back to your fork.

[2017-08-14 22:36] vsimonian commented on #45
@RyanMelenaNoesis Glad it was of use! Your PR looks great!

[2017-08-15 21:27] FuzzOli87 opened #237 "Unknown Broker error when using seek"
Using your docker-compose.yml file:

I run this producer to create this topic:
[code]

I then boot up my consumer:
[code]

When I do this, I expect to process the first message that the producer created first. However, I instead get a "Unknown broker error".

Is this not how seek is meant to be used?

[2017-08-16 09:15] MrDHat opened #238 "Kafka Admin API"
For our use case, we need an ability to manage ACL and create topics on the fly using the node app. Does the library support that?

[2017-08-16 15:14] singh1469 opened #239 "Consuming messages not working with Kafka version 0.11"
node-rdkafka (version 1.0.6) and Kafka (version 0.11) works fine when producing messages, however consuming messages does NOT work.
- The consumer fires the `ready` event
- The consumer does NOT receive any error messages (`debug = 'all'` is set)
- No messages are received by the consumer when generating messages via Kafka container e.g.
`kafka-console-consumer --zookeeper myzookeeper:2181 --topic

[2017-08-16 15:45] ruleb commented on #208
Same issue occurs with us. We have binary values on the message key, when parsing it, the buffers are corrupted somewhere in between kafka and our logic.

[2017-08-16 17:34] FuzzOli87 commented on #237
Update:

I installed from the repo and began to use librdkafka 11 because I noticed another issue mentioned it didn't make it to 9.5. I also updated my docker-compose.yml file to use kafka 11 as well.

What I'm seeing is that when I run the consumer now, I get an "unknown partition" error which I expect because there hasn't been any messages posted to the topic the consumer subscribed to. However,

[2017-08-16 20:02] FuzzOli87 commented on #237
Here is the DUMP for when I get the seg fault:

[code]

[2017-08-16 20:45] webmakersteve commented on #238
No. `librdkafka` does not yet support using the admin API because it is very new in Kafka. I believe it will be adding the support in the future, and when it does, we will support it :)

[2017-08-16 20:48] webmakersteve commented on #237
Seek has been largely untested and is hidden behind a precompiler flag right now. I am going to investigate it more when I can upgrade to `librdkafka` 0.11 after a potential bug fix in the library.

I'll take a look at what you've done to see if I can reproduce it. It could have something to do with the way topics are getting passed into the function, or it could be something internal to the libra

[2017-08-16 21:20] FuzzOli87 commented on #237
@webmakersteve Thanks! When you say it's hidden, is there something I have to do extra when I install the library to unhide it?

[2017-08-17 08:25] MrDHat commented on #238
Ah.. ok. Seems like we'll have to go for Java for this project. Thanks!

[2017-08-17 08:25] #238 closed

[2017-08-17 16:58] RyanMelenaNoesis commented on #45
@vsimonian Unfortunately, my PR was denied because it does not build librdkafka from source.  A decision I find bewildering but that is how it goes.

For anyone interested in using node-rdkafka on Windows immediately, you can point your `package.json` dependency to our fork `"node-rdkafka": "NoesisLabs/node-rdkafka"` until such a time that someone chooses to implement a build-librdkafka-from-sourc

[2017-08-21 20:06] webmakersteve commented on #232
Looks like the issue blocking the release has been fixed here: https://github.com/edenhill/librdkafka/pull/1387

[2017-08-21 20:07] webmakersteve commented on #208
Looks like a fix to the bug stopping the upgrade has been fixed here: https://github.com/edenhill/librdkafka/pull/1387

[2017-08-21 22:02] edoardocomar commented on #161
looks like this could be fixed by
https://github.com/edenhill/librdkafka/pull/1387

[2017-08-21 22:02] webmakersteve commented on #161
Maybe! We'll see!

[2017-08-21 23:00] webmakersteve commented on #208
https://github.com/Blizzard/node-rdkafka/pull/240

PR for buffer keys. Please test when you can, but I added an end to end test case as well.

[2017-08-21 23:01] webmakersteve commented on #237
Should be nothing extra to do. It uses precompiler guards to ensure the function is defined.

I am in the middle of a few updates to the library - will add testing seek to my list before the next publish of a major version.

[2017-08-22 01:11] webmakersteve commented on #123
Closing this due to inactivity. Re-open if you're still having problems.

[2017-08-22 01:11] #123 closed

[2017-08-22 01:12] webmakersteve commented on #136
Closing this because inactivity, and because the changes are implemented.

[2017-08-22 01:12] #136 closed

[2017-08-22 01:13] webmakersteve commented on #160
Closing issue. Re-open it if you still need help!

[2017-08-22 01:13] #160 closed

[2017-08-22 01:14] webmakersteve commented on #167
Hope the answer has helped! Reopen the issue if not :)

[2017-08-22 01:14] #167 closed

[2017-08-22 01:15] webmakersteve commented on #168
This fix has been added into the library!

[2017-08-22 01:15] #168 closed

[2017-08-22 01:17] webmakersteve commented on #177
I'm not sure your specific configuration, but you should go on your Kafka broker and use `kafka-consumer-groups.sh` to check the consumer group and ensure the consumers are working.

[2017-08-22 01:18] webmakersteve commented on #179
Was this fixed by changing node versions?

[2017-08-22 01:19] webmakersteve commented on #188
Closing this issue. Please re-open it if you're still experiencing issues :)

[2017-08-22 01:19] #188 closed

[2017-08-22 07:44] utizr commented on #208
Thank you, I will check this later today!

[2017-08-22 12:51] utizr commented on #208
@webmakersteve I am trying to test this with checking out the latest master commit in my application's package.json. The code is the latest when I check the node_modules, but I receive the following error at starting the app:

`/usr/local/bin/node: symbol lookup error: /app/node_modules/node-rdkafka/build/Release/node-librdkafka.node: undefined symbol: rd_kafka_sasl_global_init`

Do I need to do a

[2017-08-22 13:54] patrixgdd commented on #201
Same here.
Please implement the pause() and resume().

[2017-08-22 16:24] webmakersteve commented on #208
There shouldn't be any extra steps as long as you are running `npm install` after you pull it down.

If you put it in package.json as sourcing from Github it should work as well. The error you're seeing suggests that SASL is installed, but it was linked properly.

Can you just run `node-gyp rebuild` when you're in the node-rdkafka directory and capture the output?

[2017-08-22 16:29] webmakersteve commented on #201
`librdkafka` does not expose such a thing. Here is the header file: https://github.com/edenhill/librdkafka/blob/master/src-cpp/rdkafkacpp.h#L1452

If you need to pause and resume you should consume `n` number of messages at a time. It will not consume for you unless you use the consume loop implementation, which is not recommended for applications such as this.

If you have an example of code you

[2017-08-22 17:08] utizr commented on #208
@webmakersteve
This is the output of `node-gyp rebuild`

[code]

[2017-08-22 17:50] webmakersteve commented on #208
`ENABLE_SASL` was set to `n` but `node-rdkafka` requires it. Can you install sasl on your machine and run it again and ensure `ENABLE_SASL` is set to `y`? I think that's the problem.

[2017-08-22 20:13] edenhill commented on #161
The workaround is to set `produce.offset.report` to `true`, and yes, it is very cheap so please do enable it by default in your Node.JS bindings.

[2017-08-22 20:25] utizr commented on #208
It works, and the int value is returned correctly!! Thank you again @webmakersteve.
If anyone has above issue, I had the env variable WITH_SASL=0 set in my docker file, so that node-rdkafka can install without errors. This was also the reason for the not set ENABLE_SASL that webmakersteve mentioned. To fix the issue I had to remove this env variable, and install the following 2 packages (ubuntu do

[2017-08-22 22:01] webmakersteve commented on #208
Awesome. Glad to hear it. I am going to try to make a release that rolls back the librdkafka upgrade to 0.11 so i can get this out earlier.

[2017-08-23 06:37] hugebdu commented on #179
Same here. Node v6.11.0. Using standard consumer API (non-stream).
Have a consumer with 21k/m rate running for 12 hours. RSS is 1.5G and counting.
Will try different node versions.
@webmakersteve any input is welcome :)

[2017-08-23 06:52] hugebdu commented on #179
Actually found out that I'm using the defaults for [`queued.max.messages.kbytes`](https://github.com/edenhill/librdkafka/blob/master/CONFIGURATION.md). Will try with lower value and update

[2017-08-23 09:29] hugebdu commented on #179
Well, no luck with setting lower `queued.max.messages.kbytes`. Non-heap still increases constantly:
<img width="1196" alt="screen shot 2017-08-23 at 12 26 44" src="https://user-images.githubusercontent.com/1109601/29609069-b552a538-87fe-11e7-9450-2706fddf8997.png">

[2017-08-24 07:19] yangukmo opened #242 "I want to make topic name a regex"
Hi!

I want to make topic name a regex at version 1.0.6

[code]
But, this code is not working.
How to use with regex?

I found this issue, but not found this code.
https://github.com/Blizzard/node-rdkafka/pull/38

[2017-08-24 21:34] FuzzOli87 commented on #222
@webmakersteve

I ran into this issue today:

For example:

Consumer

[code]

producer
[code]

The consumer in this scenario throws the error but does not kill the process.

However, in the stream form of the consumer:
[code]

It does!

I've been digging into it and I can't see a reason for why this is happening at the library level. The only difference is that the stream calls the binding method

[2017-08-25 21:25] FuzzOli87 commented on #222
Been doing some deep diving. Addons are fairly new to me but from running this in debugger, It looks like the while loop in the C++ libraries for the non-stream consumer keeps executing although the main JS thread failed.

[2017-08-25 23:24] FuzzOli87 commented on #222
@webmakersteve

So, I've been digging around all day out of curiosity. The issue is definitely that the KafkaConsumerConsumeLoop keeps executing even after the main thread throws an error. This is because it is not listening for any errors from JS.

I toyed around with this:
[code]

And it does indeed catch from main JS thread. However, I have no idea what to do after. Ideally I would somehow let

[2017-08-28 16:42] asinha08 opened #245 "On running "npm install node-rdkafka" getting error"
On Ubuntu 16.04, NodeJS v6.11.2

On running "npm install node-rdkafka" getting following error
../deps/librdkafka/src/rdkafka_sasl_cyrus.c:39:23: fatal error: sasl/sasl.h: No such file or directory
compilation terminated.
deps/librdkafka.target.mk:158: recipe for target 'Release/obj.target/librdkafka/deps/librdkafka/src/rdkafka_sasl_cyrus.o' failed

[2017-08-29 13:02] hugebdu commented on #179
UPD: tried the following and still see non-heap memory increasing endlessly:
- node v8.4.0 (node crushed every ~minute, didn't check the cause)
- node v6.10.3
- node v6.11.0
- w/o auto-commits
- w/o event_cb

Giving up, switched to [no-kafka](https://github.com/oleksiyk/kafka)

[2017-08-29 17:40] webmakersteve commented on #242
What is not working about the code? You should be able to pass in a regular expression just like you did, and it should work.

Is it not subscribing to the topics you expect it to?

[2017-08-29 17:47] webmakersteve commented on #222
Stuff like this makes me want to remove the consume loop entirely :( But thanks for the thorough investigation! I will play around with this and try to figure out an optimal solution :)

[2017-08-29 17:51] webmakersteve commented on #245
Have you installed `libsasl-dev` on your machine? Currently it is required for running node-rdkafka.

[2017-08-29 18:00] webmakersteve commented on #179
Sorry to hear it isn't working for you. Were you using the same code linked above? Because that code is outdated.

In any event, the code you were using when you ran these tests would be helpful so i could ensure it isn't happening, if you wouldn't mind linking to it if it's easily isolated.

[2017-08-29 18:04] webmakersteve commented on #208
This has been released with 2.0.0

[2017-08-29 18:04] #208 closed

[2017-08-29 18:06] hugebdu commented on #179
Stephen, thanks for following up.
I'll try to share the interesting parts of my code later today/tomorrow.

[2017-08-29 18:41] FuzzOli87 commented on #222
@webmakersteve Thanks for your response. Yes, it is a bit of a headache. My C++ experience is limited and I am as green as they come to the Node Addon API but I learned quite a bit by debugging this.

I'm thinking for the short-term to just use the streams API. From the playing around I did, it looks like the streams API kind of does the same thing(never ending loop) but on the JS side.

I Googled

[2017-08-29 23:07] webmakersteve commented on #179
@terrywh I adapted the code above on the current version of librdkafka (2.0.0) and i can't reproduce a memory leak after running for around 8 hours with a stream of data of about 100 messages per second.

Was testing on node v7.5.0

[2017-08-29 23:09] webmakersteve commented on #179
Here is the code i was running:

[code]

[2017-08-30 03:08] yangukmo commented on #242
I created topic `topic-a` and send to consumer.
And consumer used this code. `consumer.subscribe([/topic-.*/]);`
But consumer have not received it.

I checked to see if the regular expression works with this code and
able to receive the message normally.
`consumer.subscribe([/topic-a/]);`

I'm wondering why can not use regular expressions that work properly in javascript here.

Thank you for reply

[2017-08-30 07:55] webmakersteve commented on #242
Did `consumer.subscribe([/topic-a/]);` work?  Also, can you give me a list of topics on your broker? You should be able to use `getMetadata` to get the list.

[2017-08-30 09:01] yangukmo commented on #242
I'm confirmed this data after consumer on ready.
If you need more information, please let me know.

[code]

[2017-08-30 16:08] asinha08 commented on #245
Thanks it works.

[2017-08-30 16:08] #245 closed

[2017-08-30 16:37] jeffmontagna commented on #232
I see that you released v2.0 yesterday, but the rdkafka lib stayed at 0.9.5.  We've been seeing memory leaks using 1.0.6, but the master branch with 0.11.0 didn't have the same memory leaks.  Any plans to move to 0.11.0 soon?

[2017-08-30 16:41] webmakersteve commented on #232
Need to await a new release. There is a regression in 0.11 that I do not want to move to until it is fixed.

https://github.com/edenhill/librdkafka/pull/1387

[2017-08-31 15:39] jeffmontagna opened #246 "Memory Leak in 2.0.0"
When running the consumer-flow example with the 30 second timer removed all system memory will be consumed.

node: 4.8.4 and 8.4.0
Kafka: 0.11.0
Ubuntu: 16.04 VM
RAM: 2G
Result: Consumes all memory within 5-10 minutes

Changing some of the V8 options like `--max-old-space-size=1024` only results in a quicker
crash.  There's no memory leak with 2.0.0 in OS X or using the master branch with 0.11.0 o

[2017-09-04 02:37] kmonchamp commented on #239
I am seeing the exact same behavior when consuming with the confluent docker images in the 3.3.0 tag.

Has anyone tested with standard kafka 0.11 builds?

[2017-09-05 09:46] yangukmo commented on #242
I don't know the exact cause, but it works oddly now...
Code is the same and seems to have a problem with my broker.

I'm sorry for the confusion...:(

[2017-09-05 09:46] #242 closed

[2017-09-06 03:10] webmakersteve commented on #45
#248 - Prelim pass at windows support that compiles librdkafka from source

[2017-09-06 18:34] alexclarkofficial opened #249 "Documentation is inconsistent with implementation"
The documentation lists an `error` event for the producer and for the consumer. It looks like the error event was removed in #144. Grepping around, it looks like the event still exists on the consumer (both standard and stream APIs) and for the producer only on the stream API.

[code]
I can open a PR correcting this documentation, but would like some clarity as to what is expected.

[2017-09-08 09:59] v3rse commented on #228
In my case, this after I run `WITH_SASL=0 npm install`
NB: `ldconfig -p | grep libsasl` returns the ff [Ubuntu 16.04 (i386)]:

[code]
Find my stack trace below for the error during run time:

[code]

[2017-09-11 13:24] krystianity commented on #246
We are having a similar issue.

[2017-09-11 21:39] vishnuchittamuru opened #250 "Authentication increasing the latency?"
Description:

Using node-rdkafka to connect to a secure cluster is causing some serious lag when reading and writing messages. The scenario is a simple round trip communication between two services.
service1 -> writes to topicA and reads from topicB
service2 -> reads from topicA and writes to topicB

The initial round trip time is well over 3s for a message. After researching on how to reduce late

[2017-09-12 16:50] edenhill commented on #250
Please share your anonymised client configuration (auth mechanism in particular).
You may also enable debug=protocol,security to see what is going on under the hood, look for the protocol response round-trip-times (rtt).

[2017-09-13 14:27] fega commented on #167
Hello @webmakersteve , Somethines I have errors like `error: internal error Error: Producer not connected
` node-rdkafka is doing something to handle this kind of errors under the hood?

[2017-09-13 18:12] mjafarpour commented on #228
Hi,
This is full stack trace ....

`/home/mostafa/workspace/trading-system-event-base/node_modules/bindings/bindings.js:88
        throw e
        ^
Error: /home/mostafa/workspace/trading-system-event-base/node_modules/node-rdkafka/build/Release/node-librdkafka.node: cannot allocate memory in static TLS block
    at Error (native)
    at Object.Module._extensions..node (module.js:597:18)
    at Mo

[2017-09-14 18:24] mjafarpour commented on #228
After install when run `make test` , the test failed with same error.

[2017-09-18 17:12] kstaken commented on #246
What was the reason that the library was rolled back from librdkafka 0.11.0 to 0.9.5? We're definitely seeing off heap leaks that appeared to be resolved with the new version of the dependency.

[2017-09-18 17:31] edenhill commented on #246
You are most likely seeing librdkafka issue https://github.com/edenhill/librdkafka/issues/1384

[2017-09-18 17:58] FuzzOli87 opened #251 "Consumer doesn't throw when attempting to subscribe before unsubscribing"
[code]

I expected the code to throw an error when attempting to subscribe twice but nothing. When the producer puts out both events, the original subscribed event still fires. However, it fires with the message of the TEST_TOPIC_INTERNAL. In other words, it "unsubscribed" from the TEST_TOPIC_TWO topic but the listener still fires and is picked up twice.

Am I missing something here? It doesn't lo

[2017-09-20 11:40] ancashoria commented on #239
I'm using this `docker-compose.yml` from Confluent 3.3.0
https://github.com/confluentinc/cp-docker-images/blob/3.3.x/examples/cp-all-in-one/docker-compose.yml
I am not receiving messages using node-rdkafka.
Can you guys do a quick test using that docker-compose?

[2017-09-20 15:08] edoardocomar commented on #225
I experienced errors in the gyp build when I had the CDPATH env variable set

[2017-09-21 10:43] ancashoria opened #252 "Is version 2.0.0 using librdkafka 0.11.0?"
Hi,
I have installed the latest `node-rdkafka` version from npm (2.0.0) when I run `console.log(Kafka.librdkafkaVersion)` I get 0.9.5.
Is there any way to get a version of `node-rdkafka` that uses `librdkafka@0.11.0`?

Thanks

[2017-09-25 03:16] webmakersteve commented on #252
No. There is a bug I am waiting to be fixed in `librdkafka`. Once that is upgraded, I will upgrade `node-rdkafka` to use the updated version.

[2017-09-25 03:17] webmakersteve commented on #225
I'm a little confused here. I'm seeing errors about `kafka-node` and the `snappy` dependency. We do not have a dependency on snappy in this library.

Also, that node-rdkafka version is a little outdated. Can you try using version 2? And do you have SASL installed?

[2017-09-25 03:18] webmakersteve commented on #167
Once the initial connect happens successfully, librdkafka will automatically deal with disconnections and reconnections. But the initial connect can fail and needs to be retried manually if it does.

[2017-09-25 03:20] webmakersteve commented on #228
Do you have openssl installed? and what configuration are you providing node-rdkafka?

[2017-09-25 03:22] webmakersteve commented on #246
We rolled back because an issue with producing null keys that has since been fixed. Will upgrade as soon as that is released, and I believe it is close to being released.

[2017-09-25 03:26] webmakersteve commented on #251
It looks like you're calling unsubscribe between the two subscribes.

If you still get some messages from the first topic you unsubscribed form it is probably because they have already been read on the first connect and are in `librdkafka`'s internal buffer.

Or maybe I'm misunderstanding your issue. Which listener is firing? I assume the `data` listener?

[2017-09-25 03:28] webmakersteve commented on #239
What is your full client configuration? I wonder if you need to specify to request the api version to get this to work appropriately. If you give me a sample of of the code you're using I can try to reproduce this and figure it out.

[2017-09-25 04:03] mjafarpour commented on #228
1.Yes, the 1.0.2 version of openssl installed.
2.it's not any specific configuration and in require command i get this error.

[2017-09-25 05:05] webmakersteve commented on #228
https://stackoverflow.com/questions/45640934/error-while-loading-shared-libraries-cannot-allocate-memory-in-static-tls-block

I'm not sure if this is related, but did you compile node from source?

[2017-09-25 06:01] ancashoria commented on #252
Alright, thanks. Looking forward to the update.

[2017-09-25 06:01] #252 closed

[2017-09-25 06:21] mjafarpour commented on #228
Can you give me some advise for compile the source code?

[2017-09-25 15:28] mimaison opened #253 "Review handling of ERR__PARTITION_EOF"
Hi,

While trying out scenarios using the `consume(count, cb)` API, we noticed we often did not get as many messages as requested. We double checked and we were indeed producing enough messages and our consumer lag was increasing fast.

We added a bunch of debug in librdkafka and noticed everytime we were getting less messages than expected it was because the underlying call to consume returned er

[2017-09-25 18:34] mjafarpour commented on #228
After clone the repository in my local directory, then i use `sudo npm install` to start the build process.
after include module get this Error:

/home/workspace/node_modules/node-rdkafka/node_modules/bindings/bindings.js:96
  throw err
  ^

Error: Could not locate the bindings file. Tried:
 → /home/workspace/node_modules/node-rdkafka/build/node-librdkafka.node
 → /home/workspace/node_modules/node

[2017-09-25 19:22] mjafarpour commented on #228
I use `nvm` to install my node and test with the versions 4.8.4, 6.11.3 and 8.5.0 but the Error is exist.

[2017-09-29 10:22] mjafarpour commented on #228
I can solved it. These steps are required :

1.Change Ubuntu package server
2. Reinstall all dependency package from new server
3. Reinstall the Nodejs and Node-rdkafka.

[2017-09-29 17:21] mazzy89 opened #255 "JMX metrics not go up"
I'm using Prometheus JMX Exporter to monitor Kafka. I've defined the following pattern rules in the JMX config file:

[code]
Now I'm having the following issue. When I send data to the topic in this way:
[code]
The counter of the metric kafka_server_brokertopicmetrics_bytesin_total increases correctly.

When I try to send data by using the following code:
[code]
In this case the metric doesn't cha

[2017-09-29 17:24] mazzy89 commented on #255
`untubo` is just a very tiny wrapper around `node-rdkafka` and it should not affect in any way the JMX MBeans. Do you have any idea?

[2017-09-29 18:52] webmakersteve commented on #228
Yeah... I was afraid it was something to do with Node :(

Glad you got it figured out. Going to close the issue. Thanks for writing your solution in the issue!

[2017-09-29 18:52] #228 closed

[2017-10-01 11:16] krystianity commented on #251
1. There is no error event, because you call `unsubscribe`
2. `consumer.on("ready",..)` will only fire once for the `.connect()` call
3. as Stephen said you might see more `data` events, because there might be messages still being processed from the buffer

[2017-10-01 11:22] krystianity commented on #246
To anyone else that might land here, with memory consumption issues: You just might be missing some config [params](https://github.com/nodefluent/node-sinek/blob/master/lib/librdkafka/README.md#memory-usage)

[2017-10-02 16:27] webmakersteve commented on #255
I'm not really sure why your JMX metrics aren't changing... those have nothing to do with the type of producer producing.

Producer's `produce` method is async. kafka-console-producer.sh is blocking. You will need to wait for the delivery report events before you close, potentially, and you will also need to ensure you are calling `poll` to get delivery report events.

Add:

[code]

and then liste

[2017-10-02 16:31] webmakersteve commented on #249
As it stands right now error should probably only be emitted by streams, because it is expected to behave like that to follow other streams in node. I'll take a look at the consumer and see what causes it to emit error there and potentially change some things to make it more consistent.

[2017-10-02 18:06] quorak opened #258 "Error when running in docker container"
hey there,

thx for the great work. Just came about one issue, when running it in a docker container:
[code]
It works like a charm, when running it directly. So do you know if I need to set some special values in the container?

this is my dockerfile
[code]

I"m using the stream API like:
[code]

[2017-10-04 15:12] teckays commented on #201
@webmakersteve an example use case would be when using pattern topic subscription, ex:
[code]

[2017-10-04 16:14] webmakersteve commented on #258
What docker image are you using? This happens with some of the really tiny ones that ship with a different version of glibc - like Alpine. If you're using one of those you will need to install the full version of glib c to get this to work properly.

[2017-10-05 14:11] 0x530302 opened #259 "Unexpected high latency"
I use the following code to measure the time it takes to consume a message after producing it.
The delay is usually either around 500 ms or 1000 ms.
However, by analyzing this scenario with Wireshark I found out that only around 7 ms have passed between the produce request and the fetch response, that includes the message.
So somewhere between receiving the messages and actually emitting the `data

[2017-10-05 16:10] 0x530302 commented on #259
After digging a little deeper, I found out that the actual delivery to kafka was delayed and not the consumption of the message. Setting `socket.blocking.max.ms` to a lower value decreased the latency to a reasonable value. I first ignored that parameter, as it was marked as deprecated in the librdkafka documentation `¯\_(ツ)_/¯`

[2017-10-05 16:10] #259 closed

[2017-10-05 22:28] kstaken commented on #246
Did the updated librdkafka ever get released? Still blockers on moving this library to it?

[2017-10-05 22:28] mjafarpour opened #260 "Streams questions"
Hi,
1- Is there any way to set poll interval when using stream mode?
2- Can use multiple consumer stream in one function that use same topic as input? that means send separate delivery message for each stream in specific topic.
3- How can use exactly once scenario in stream mode?
4- How can use partitions.

[2017-10-06 20:45] webmakersteve commented on #246
A release candidate was "released" yesterday. I am going to make a build with the release candidate but not publish it to NPM until it has been officially released.

[2017-10-09 18:00] FuzzOli87 commented on #251
Hi @webmakersteve @krystianity

Sorry for the late response! I was at a conference.

You are right, the example I gave was cloudy. Essentially what I was attempting to show is that my own expectation when I call "unsubscribe" from a consumer is that messages will no longer be received from any handler.

During my local testing, I found that calling unsubscribe and immediately subscribing to anothe

[2017-10-10 12:18] liesislukas opened #262 "[SOLVED] configuration property "ssl.ca.location" is not available in C code on OS X 10.12.6 node v8.6 npm 5.4.2"
Hi, started writing issue report but fixed and i wanted to share my findings, so leaving here.

OS X 10.12.6
Node v8.6.0
npm 5.4.2

openssl installed with brew

[code]

For debugging I added couple console.log lines in client.js before line 54:

[code]

and console logs:

[code]

so `ssl.ca.location` does exist in globalConf object.

Only place where i find `No such configuration property` error m

[2017-10-10 12:27] #262 closed

[2017-10-11 09:24] naveenkerati opened #263 "Installation Failed"
I tried to install the node-rdkafka on Amazon Linux . But I got the following Configuration failure. I am running the latest node.js and npm version.
###########################################################
###                  Configure failed                   ###
###########################################################
### Accumulated failures:                               ###
##########

[2017-10-11 15:08] chanakyamandava commented on #216
I am running into same error, I am using windows 7 64 bit

Traceback (most recent call last):
  File "C:\Program Files\nodejs\node_modules\npm\node_modules\node-gyp\gyp\gyp_main.py", line 16, in <module>
    sys.exit(gyp.script_main())
  File "C:\Program Files\nodejs\node_modules\npm\node_modules\node-gyp\gyp\pylib\gyp\__init__.py", line 545, in script_main
    return main(sys.argv[1:])
  File "C:

[2017-10-12 00:49] senthil5053 commented on #147
can someone help me understand how libsasl2 can be installed in mac ?

[2017-10-12 16:43] webmakersteve commented on #260
Yes. You can set the poll interval just as you would on any other producer. You can access the producer as `stream.producer` and it has all of its normal methods available to you.

If you want the same messages to go to different streams you need to consume them on a different consumer group id.

Exactly once in Kafka is a big topic, and I'm not sure `librdkafka` itself fully supports it yet, so t

[2017-10-12 16:50] mjafarpour commented on #260
Thanks for your answers.
Which methods not exist in stream mode?

[2017-10-15 15:24] michallevin opened #264 "V2 - Removal of topic objects"
Can someone clarify what the removal of topic objects affects?

I am using V2 and would like to use one producer stream to write to several topics. I am using the `objectMode` = true to do so and it looks like it's working and want to make sure it doesn't have to do with the removal of topic objects (since I am not sure what that refers to and sounds related)

Thanks in advance!!

[2017-10-17 21:15] webmakersteve commented on #264
The topic objects that change talked about were the wrapped `librdkafka` topic objects that the library used under the hood. They were reference counted internally by the library, and v8 made it very difficult to garbage collect them properly because of that, so they were removed in favor of using just topic names.

Specifying a topic inside an object is fine, but topic-specific config is no longe

[2017-10-17 21:18] webmakersteve commented on #147
@senthil5053 I believe it is installed by default. Try running `ls /usr/lib/ | grep sasl` to see if any results show up.

[2017-10-17 21:20] webmakersteve commented on #251
Correct. If you want to do what you're describing it may be better to have multiple consumers. The handlers are not cleared on a new subscription.

I'm going to close the issue but feel free to open it if you still have outstanding questions.

[2017-10-17 21:20] #251 closed

[2017-10-17 21:22] webmakersteve commented on #263
It looks like you're missing some essential build tools. Does amazon linux have the yum group "Development Tools"? I would try to start there and after installing all the build tooling trying to build again.

[2017-10-17 21:23] webmakersteve commented on #262
It looks like it isn't linking with openssl correctly. Adding those flags just is forcing it to find the open ssl install you're using, which then activates those configuration parameters internally in librdkafka.

I think this still may be an issue

[2017-10-17 21:31] webmakersteve commented on #246
New version released with 0.11.1!

[2017-10-17 21:31] #246 closed

[2017-10-17 21:31] webmakersteve commented on #239
I just released a new version of node-rdkafka with 0.11.1. It may be worth trying one more time.

[2017-10-17 21:55] matthax commented on #225
You're installing the wrong library, the errors are for The `node-kafka` library which has an optional dependency on `snappy`. If you're on Windows you'll need to install `snappy` and make sure you've got the correct windows build tools.

[2017-10-17 23:01] webmakersteve commented on #260
The methods meant for public use are documented here: https://blizzard.github.io/node-rdkafka/current/

[2017-10-17 23:10] webmakersteve commented on #249
I believe this is fixed with 339b93545c80a76df4736e31c14898219758a3f2. Reopen if you disagree :)

[2017-10-17 23:10] #249 closed

[2017-10-17 23:10] webmakersteve commented on #237
I just upgrade `librdkafka` to 0.11 in the most recent `2.1.0` release. Can you try this again? I am in the process of adding tests around seek to ensure it works as expected.

[2017-10-17 23:11] webmakersteve commented on #226
The suggested way to do this is to use `seek` to go to the offsets for each topic partition you want to read from. This should be available in the most recent version of hte library.

Sorry for the late response! Things sometimes fall through the cracks in GitHub issues ><

[2017-10-17 23:13] webmakersteve commented on #225
I'm going to close this issue as we haven't had any new information in a while. Please re-open if you're still experiencing problems (and are using the right library!)

[2017-10-17 23:13] #225 closed

[2017-10-17 23:13] webmakersteve commented on #230
Have you tried running this again? Perhaps there are some changes in Nan that will make it work now.

[2017-10-17 23:16] webmakersteve commented on #224
Going to close this issue because of inactivity, but if you're still having difficulties feel free to comment or re-open if needed.

[2017-10-17 23:16] #224 closed

[2017-10-17 23:17] webmakersteve commented on #161
I believe this is fixed in the new version of librdkafka released - so closing the issue.

[2017-10-17 23:17] #161 closed

[2017-10-17 23:18] webmakersteve commented on #174
Closing this issue due to inactivity.

[2017-10-17 23:18] #174 closed

[2017-10-17 23:20] webmakersteve commented on #173
With the librdkafka upgrade this should now be fixed. Closing the issue. Re-open if you're still experiencing it.

[2017-10-17 23:20] #173 closed

[2017-10-17 23:28] webmakersteve commented on #180
Sorry to get back to this issue so late. Does the problem continue on the latest version, or did you get a solution?

The commits can happen in random order but you should take care not to commit after every operation. It can be expensive since Kafka internally writes to a compact topic all the brokers share.

If you are doing the batch process method you should commit on an interval and ensure th

[2017-10-17 23:29] webmakersteve commented on #182
Closing this issue because of inactivity. Please re-open and comment if you're still experiencing the issue on the most up to date version of node-rdkafka :)

[2017-10-17 23:29] #182 closed

[2017-10-17 23:30] webmakersteve commented on #186
Can you try this again now that we've upgraded to an official release of librdkafka? Would be interested to see if this reproduces.

[2017-10-17 23:30] webmakersteve commented on #258
See if this helps you any: https://github.com/Blizzard/node-rdkafka/issues/125

[2017-10-17 23:31] webmakersteve commented on #220
Released!

[2017-10-17 23:31] #220 closed

[2017-10-17 23:31] webmakersteve commented on #219
This is going to work in a front end environment :( We rely on c++ bindings to work, unless I'm misunderstanding what you're trying to do.

[2017-10-17 23:47] brefsdal opened #265 "Version 2.1.0 missing symbol for sasl"
[code]
ENABLE_SASL  n

Build details here.
https://gist.github.com/brefsdal/a329b30a80965b8dc971b7a87ead986e

[2017-10-17 23:54] webmakersteve commented on #265
So the build succeeded and it's still giving you that lookup error? The environment variable to provide is `WITH_SASL=0` if you don't want it on.

[2017-10-17 23:57] rhysmccaig commented on #265
Im seeing the same issue with WITH_SASL=0

[2017-10-17 23:59] webmakersteve commented on #265
What npm install / node-gyp command are you running exactly? And do you have build logs for WITH_SASL=0? The sasl c files should not be compiled when run like that

[2017-10-18 00:00] rhysmccaig commented on #265
Build completes successfully, but im seeing these messages on my console while running unit tests for my code:
[code]

[2017-10-18 00:01] rhysmccaig commented on #265
Yep will grab some build logs shortly and share.

[2017-10-18 00:04] brefsdal commented on #265
[code]

npm install

[2017-10-18 00:05] webmakersteve commented on #265
@brefsdal can you try

[code]

[2017-10-18 00:14] brefsdal commented on #265
@webmakersteve This is version 2.1.0
[code]

This is version 2.0.0
[code]

[2017-10-18 00:31] rhysmccaig commented on #265
The logs for the build look fine for 2.1.0:
https://gist.github.com/rhysmccaig/0b20591c0ce5452e6e90110953b5eecb

But im seeing the `dyld: lazy symbol binding failed: Symbol not found: _rd_kafka_sasl_global_init` issue whenever trying to use the lib.

Perhaps there is an issue with the librdkafka make configs in the upstream project?

[2017-10-18 07:09] rhysmccaig commented on #265
Was able to replicate within the current node-rdkafka master branch:

Default Build (`make && make test && make e2e`): https://gist.github.com/rhysmccaig/6995f073a533d3db73cc18ad87e612cf

Exclude SASL Build (`WITH_SASL=0 make && make test && make e2e`): https://gist.github.com/rhysmccaig/f0a656e00075e910e3dc9d5329a822fb

Will dig into this more tomorrow if I get time

[2017-10-18 08:15] ancashoria commented on #239
Didn't fix the issue for me.
Could be something on my side, but I spent so much time on this that I really don't know what to try next.
Thanks for your hard work @webmakersteve

[2017-10-18 09:13] rhysmccaig commented on #265
This commit seems to remove the ability to use the WITH_SASL=0 (which seemingly invalidates the --disable-sasl flag in the librdkafka)
https://github.com/edenhill/librdkafka/commit/66127326db127dd6392de57affc4882b0591fae3#diff-038cd34fecfe0f19aeb6cd941d3b5285L129

[2017-10-18 09:55] naveenkerati commented on #263
Yes, I have missed the installing packages
yum install gcc-c++ python-devel.x86_64 cyrus-sasl-devel.x86_64
installing above packages solved the issue

[2017-10-18 11:40] michallevin commented on #264
@webmakersteve Good news, thank you. Where was it previously possible to define topic-specific config?

[2017-10-18 11:41] michallevin commented on #230
@webmakersteve No not yet. I will update if/when we try to upgrade again. Thanks!

[2017-10-18 16:27] fega opened #266 "Install failed"
hello, I'm getting this

npm WARN registry Unexpected warning for https://registry.npmjs.org/: Miscellaneous Warning EINTEGRITY: sha512-mq0x3HCAGGmQyZXviOVe5TRsw37Ijy3D43jCqt/9WVf+onx2dUgW3PosnqCbScAFhRO9DGs8nxoMzU0iiosMqQ== integrity checksum failed when using sha512: wanted sha512-mq0x3HCAGGmQyZXviOVe5TRsw37Ijy3D43jCqt/9WVf+onx2dUgW3PosnqCbScAFhRO9DGs8nxoMzU0iiosMqQ== but got sha1-EyfXCZULVY8gTl

[2017-10-18 16:32] webmakersteve commented on #266
This looks like it may be a SASL problem? I can't really tell.

[2017-10-18 16:34] webmakersteve commented on #264
You could run:

[code]

[2017-10-18 16:34] Vashnak opened #267 "Install fail during node-gyp rebuild"
Hi, I would like to install node-rdkafka but I always get the same error (tried a lot of different versions) .
I'm currently on node 8.6, but also tried 7.10 and 6.10.

It looks like the problem happens when the "make" command is executed, because a directory already exist. But I don't see why it says it to me.

Does someone has an idea ?

LOG:  [log.txt](https://github.com/Blizzard/node-rdkafka/f

[2017-10-18 16:34] #263 closed

[2017-10-18 16:38] webmakersteve commented on #267
Can you purge the node modules directory and try to install again?

[2017-10-18 16:42] webmakersteve commented on #265
@edenhill Any idea here? it looks like even when configured with `--disable-sasl` the builds are still linking against sasl (or trying).

[2017-10-18 16:43] Vashnak commented on #267
Hi, I already tried it a lot of time without any result :(

[2017-10-18 16:44] webmakersteve commented on #267
This directory looks pretty strange to me: ` './-dnode_gyp_module_name=librdkafka'`. Can you run a find in your project directory to search all subfolders for anything with the name `.*librdkafka.*`?

[2017-10-18 16:48] Vashnak commented on #267
Okay i'll try as soon as I can, I don't have my pc atm

[2017-10-18 17:06] caeaugusto commented on #219
Thank you for the response. What I need to do is receive kafka messages on web clients (notifications) and I don't know if I'm missing anything obvious here. I understand that I can translate kafka messaging to web sockets on a server but that was what I wanted to avoid at the beginning since a kafka tcp client existed. A few months ago I learned about confluent's rest proxy, it seems to be just t

[2017-10-18 17:09] alis-sol commented on #219
Thank you for the response. What I need to do is receive kafka messages on web clients (notifications) and I don't know if I'm missing anything obvious here. I understand that I can translate kafka messaging to web sockets on a server but that was what I wanted to avoid at the beginning since a kafka tcp client existed. A few months ago I learned about confluent's rest proxy, it seems to be just t

[2017-10-18 17:15] webmakersteve commented on #219
I don't particularly have any recommended solution for consuming kafka messages on web clients. A pure-javascript front end capable kafka would be a totally different project that used totally different technologies to make it work.

I've never had to do what you're suggesting, but having some sort of rest proxy seems to be the way to go for the web.

[2017-10-18 17:31] Vashnak commented on #267
Okay I didn't it and found nothing

[2017-10-18 17:52] edenhill commented on #265
--disable-sasl  disables the check (and inclusion) of cyrus-sasl (providing gssapi and plain auths).
This option sets ENABLE_SASL to 0, not WITH_SASL.
(ENABLE_.. = try to enable feature in configure,  WITH_... = compile with feature)

WITH_SASL was previously set, but since plain and scram are now builtin auths that define is no longer used and sasl support is always available in some form.

[2017-10-18 18:12] lsancho commented on #267
I've been trying to install for two hours, unsuccessfully so far

[code]

[2017-10-18 18:17] webmakersteve commented on #267
node-rdkafka does not work on Windows right now. If you want to try windows you can try cloning from the windows branch.

[2017-10-18 18:19] webmakersteve commented on #265
I think I need to adjust the gypfile so it includes the sasl related files now regardless of whether sasl support is active or not, and that may fix the problem.

I'll try to get this reproducing in a container build and see if adding the sasl file fixes it.

[2017-10-18 18:20] edenhill commented on #265
I have no idea what you guys are up to, but try to stay in sync with the conditionals in librdkafka/src/Makefile

[2017-10-18 18:40] fega commented on #266
yeah, I work and install node-rdkafka almost every day
Platform: ubuntu/linux 64x
the problem comes with the latest node-rdkafka version, the previous version is working okay

[2017-10-18 18:41] fega commented on #266
the finish part of the snipped:

[code]

[2017-10-18 20:17] Vashnak commented on #267
I forgot to say, I'm on Ubuntu 17.04

[2017-10-18 22:41] webmakersteve commented on #267
New build has been pushed to master with drastic differences in the way it is configured to hopefully bring this in better line with librdkafka. Can you try pulling from master to see if it works? I am going to publish it under 2.1.1 in a moment.

[2017-10-18 23:08] webmakersteve commented on #265
New build has been pushed to master with drastic differences in the way it is configured to hopefully bring this in better line with librdkafka. It is a nightmare to cross maintain the differences in gyp (which is required in node) and make, so unfortunately there were some short cuts taken. Hopefully the changes I've made, while they may require updates as librdkafka versions are released, make t

[2017-10-19 03:18] rhysmccaig commented on #265
This seems to solve the build issue, but I haven't tested whether it introduces sasl.h as a dependency. With any luck I might get a chance to test that tomorrow.

[2017-10-19 04:12] patrixgdd opened #268 "Version 2.1.1 install error"
Hi ,
I have tried the 2.1.1 with node 8.7.0.
It compiled with error.
The version 2.1.0 is working fine though.

ERR LOG:

/usr/local/bin/node /usr/local/lib/node_modules/npm/bin/npm-cli.js install node-rdkafka@2.1.1

Standard error:
ld: library not found for -llz4
clang: error: linker command failed with exit code 1 (use -v to see invocation)
make: *** [Release/node-librdkafka.node] Error 1
gyp ER

[2017-10-19 07:41] Vashnak commented on #267
I tried and still have the sale problem, I also tried to install it in an empty folder, no result

[2017-10-19 08:53] dmtrs opened #269 "Number of producers per process"
Would it be an issue to instantiate multiple producers per process? Could it be an issue if this multiple N producers have only one instance in `metadata.broker.list` (broker list length to 1) ?

[2017-10-19 11:15] alis-sol commented on #219
Ok Stephen, thank you very much for taking your time!

Cheers

On Wed, Oct 18, 2017 at 3:16 PM Stephen Parente <notifications@github.com>
wrote:

[2017-10-19 12:14] fega commented on #266
ouch, I closed this without notice it

[2017-10-19 14:50] fega commented on #269
did you experimented issues? I didn't, with 3 o 4 producers per process

[2017-10-19 16:31] webmakersteve commented on #269
Having multiple producers per process is totally fine, just remember there is thread overhead per producer.

Each producer corresponds to at least one thread in C++ land for processing the messages.

[2017-10-19 16:32] webmakersteve commented on #268
Can you send the configure logs for librdkafka? They should appear earlier in the build.

[2017-10-19 16:33] webmakersteve commented on #266
Can you try 2.1.1?

[2017-10-19 16:34] webmakersteve commented on #219
No problem! Good luck!

[2017-10-19 16:34] #219 closed

[2017-10-19 16:36] webmakersteve commented on #218
Additionally, https://github.com/Blizzard/node-rdkafka/commit/74e344f319ad66b46e796f618c1b6328c64a3caf added support for pause and resume.

[2017-10-19 17:56] FuzzOli87 commented on #258
@quorak I have had no luck allowing node-rdkafka to build librdkafka in an Alpine image. I've tried all sorts of combinations and packages.

I have a ton of luck installing it native and not letting this library build it.

[2017-10-19 18:14] FuzzOli87 commented on #239
@webmakersteve I'm seeing the same issue with the following code:
`
import kafka from 'node-rdkafka';

const producer = new kafka.Producer({
  'metadata.broker.list': 'parkhub-kafka-confluent:9092',
  'api.version.request': true,
  dr_cb: true
});

console.log('CONNECTING!');
producer.connect();
console.log('CONNECTING! DONE');

producer.on('ready', () => {
  console.log('CONNECTED');

  const con

[2017-10-19 19:44] FuzzOli87 commented on #239
UPDATE:

My consumers are now consuming. I was able to run it with the following docker-compose:
[code]

kafka.env file:
[code]

My application was using this docker-compose file:
[code]

NOTE: The network name might be different depending on where you run your docker-compose file bc it uses the current directory to build the network name.

I was also able to consume/produce using cp-kafka:3.3.0

[2017-10-19 20:45] fega commented on #269
@webmakersteve would be better if only one producer is used?

[2017-10-19 20:50] webmakersteve commented on #269
I don't know if better is the right word, but there should not be a noticeable performance increase from not sharing a producer. The only time I would recommend having multiple producers is when their configuration differs.

[2017-10-19 20:50] webmakersteve commented on #239
Good find! I would not be against using the confluent kafka containers for the end to end tests if anyone is feeling interested in a PR :)

[2017-10-20 01:47] patrixgdd commented on #268
/usr/local/bin/node /usr/local/lib/node_modules/npm/bin/npm-cli.js install node-rdkafka@2.1.1

Standard error:
ld: library not found for -llz4
clang: error: linker command failed with exit code 1 (use -v to see invocation)
make: *** [Release/node-librdkafka.node] Error 1
gyp ERR! build error
gyp ERR! stack Error: `make` failed with exit code: 2
gyp ERR! stack     at ChildProcess.onExit (/usr/local

[2017-10-20 11:28] mimaison commented on #237
I tried with 2.1.1 and I see the same issue. It either segfaults or I get the same `Unknown broker error` message.

[2017-10-20 14:31] evollu opened #270 "what is options.highWaterMark?"
When I use ConsumerStream and set fetchSize 5, the stream fetches 7 items at a time. Looked around the code and find this
https://github.com/Blizzard/node-rdkafka/blob/master/lib/kafka-consumer-stream.js#L82

There is no documentation about what `highWaterMark` is and why it is 2.

Can anyone explain what it does and why +2?

[2017-10-20 17:59] webmakersteve commented on #270
https://nodejs.org/api/stream.html#stream_buffering

High watermark is a built in feature of node's streams that determines how large the buffer should be for storing data. I have added +2 to it to ensure it can fit an entire fetch set + a little extra. 2 was arbitrarily chosen but I did not want the fetch size to be the same as the buffer size.

It looks like push is succeeding until the buffer i

[2017-10-20 18:05] evollu commented on #270
correct me if I'm understanding wrong.
libkafkaClient.consume() should be called with 5 even when node stream buffer is set to 7 right? otherwise it will be the same setting highWaterMark to 5.
But actually consume is called with 7.

[2017-10-20 21:04] webmakersteve commented on #268
It is showing llz4 as on your machine but maybe the path is different than where your ldpath is looking.

[code]

Can you locate where the lz4 directory is and check what your ldpaths are? `librdkafka` is setting a few extra ones there.

[2017-10-20 21:26] mattness commented on #267
@Vashnak we don't currently support node 8.x.  Can you please add steps to reproduce for node 6.x and attach npm's log.txt from 6.x?

[2017-10-20 22:51] webmakersteve commented on #237
Alright. I think this is fixed on master. The timeout was not being passed correctly, and when `librdkafka` is given a timeout of 0 it runs the request as an asynchronous one, so the cleanup I was doing to delete the topic partition object was causing problems.

If you try from master you can see if it fixes your issue.

[2017-10-21 08:19] teckays commented on #267
@mattness is there a plan to add node 8.x support in the future?

The error I am getting is:
[code]

Config:
[code]

[2017-10-21 08:33] RosieCode95 commented on #267
@teckays you need a cripto library, on CentOS you can do `yum install -y openssl-devel` etc.

i just had this issue and this fixed it no probs with v8 as of yet

[2017-10-21 11:19] teckays commented on #267
@RosieCode95 I am using Debian for my Docker image and I do have the `libsasl2-dev` installed. I tried installing it locally on macOS Sierra as well, same result. `node-rdkafka` installed successfully on my Mac with the previous NodeJS version (which was 7.x I think) but now I've upgraded Node to `v8.7.0` and it fails.

[2017-10-21 12:04] RosieCode95 commented on #267
yeh prob just have to find the right lib for you, im on 8,7.0 with a clean install of CentOS.7 with no issues.

[2017-10-21 12:15] teckays commented on #267
@RosieCode95 just managed to install it on Debian by installing `libssl-dev` instead of `libsasl2-dev`. Still digging to make it work on macOS.

[2017-10-21 12:15] patrixgdd commented on #268
Since I am using macports, but I forget to export LIBRARY_PATH="/opt/local/lib" to the environment.
Now it is working fine.
Just wonder why version 2.1.0 has no issue at all.

[2017-10-21 12:16] RosieCode95 commented on #267
👌

[2017-10-21 12:37] teckays commented on #267
For everyone else having problems installing `node-rdkafka@2.1.1` on macOS Sierra:

**Error:**
[code]

**Fix:**
[code]

[2017-10-21 13:16] teckays commented on #218
@webmakersteve Wonder how is that working hence the following error is thrown:
[code]
[here](https://github.com/Blizzard/node-rdkafka/blob/master/lib/kafka-consumer.js#L594)

which is kind of weird where is `getWatermarkOffsets(topic, partition)`'s `topic, partition` coming from if the method parameter is `topicPartitions`

[2017-10-23 09:23] mimaison commented on #237
Thanks for taking a look!
I don't see the error anymore on MacOS (I've not checked if Ubuntu still segfaults) but it does not seem to work as expected (maybe my expectations are wrong ?).

Using:
[code]

But the position printed is the same before and after.

[2017-10-23 13:35] edenhill commented on #237
seek() may only be used for partitions that are currently being fetched, i.e., they've been assign()ed - either explicitly or implicitly (by subscription).

[2017-10-23 16:27] webmakersteve commented on #268
I made adjustments in 2.1.1 that is supposed to make it smarter when installing optional dependencies. But they need to be in your library path now that they are included.

[2017-10-23 16:27] #268 closed

[2017-10-23 16:29] #45 closed

[2017-10-24 17:10] sawdiggy opened #273 "npm install doesn't nuget restore"
Hi,

I can't seem to get the nuget restore to execute when installing this package using npm.  I have set VS (both versions on my workstation) to automatically download missing packages.  However, I still receive this:

error : This project references NuGet p                                                                                                                     ackage(s) that are missi

[2017-10-24 22:25] matthax commented on #273
Replying to your other comment, you'll need to install from the github directory for Windows support. Based on your error log I think you might need to [install snappy](https://snappy.machinezoo.com) so yiu have the windows header files? I'm not 100%. I can try and check what I did when I have some time...

[2017-10-25 03:53] Kevin-Lee opened #274 "Accessing Kafka with Kerberos and SSL failed with Segmentation fault"
Accessing Kafka with Kerberos and SSL failed with Segmentation fault.

* OS: CentOS 7
* node-rdkafka version: 2.0.0
* node --version: v6.11.3
* npm --version: 3.10.10

The server it's running has cyrus-sasl-devel and openssl-devel.

I have no idea how to debug it as the only thing I got was the 'Segmentation fault' message.

I've tried to test librdkafka using kafkacat with the following options a

[2017-10-25 04:47] Kevin-Lee opened #275 "Installation failed in Centos 7"
Installation failed in Centos 7

* OS: CentOS 7
* node-rdkafka version: 2.1.1
* node --version: v6.11.3
* npm --version: 3.10.10

The server has cyrus-sasl-devel and openssl-devel.

Since [node-rdkafka 2.0.0 couldn't connect Kafka with Kerberos and SSL](https://github.com/Blizzard/node-rdkafka/issues/274), I tried to install node-rdkafka 2.1.1 and got another problem.

After `npm --verbose install

[2017-10-25 15:35] matthax commented on #275
The install failed because it can't find `librdkafka` and the config/makefiles. Try running `git clone https://github.com/Blizzard/node-rdkafka.git node-rdkafka-fork --recursive` to ensure that `librdkafka` is downloaded as a dependency. Then you should be able to install.

[2017-10-25 18:57] james-rabbit commented on #152
Could `librdkafka` keep a cache key based on the system libraries used to build it?
Currently this module does not fit very well with the normal flow of using npm, it makes every operation take much longer.

[2017-10-25 23:04] sawdiggy commented on #273
Not sure I follow your comment.  I pulled from the HEAD of master as follows:

$ npm install https://github.com/Blizzard/node-rdkafka.git

This seems to have resolved the NUGET problem, but generates those build errors.

Not sure how to install snappy, it appears to be a Nuget package/source.  If this is a dependency, shouldn't it be part of the install scripts like zlib?

Thanks for you looking i

[2017-10-26 00:41] localzjaz commented on #267
Not sure if you want to consider this in the same issue but I am experiencing errors during docker _(node 6.11.5 alpine build)_ builds with node-rdkafka v2.1.1 . (during node-gyp rebuild).

The same build works with node-rdkafka v2.1.0.

Here is a repository to reproduce the issue: https://github.com/localz/node-rdkafka-build-issues

And the error I get:
[code]

I'm not sure what the WARN line is

[2017-10-26 02:54] Kevin-Lee commented on #275
@matthax Oh?! I thought that was included in `node-rdkafka`. Anyway, I had `librdkafka` 0.11.1 when I installed `node-rdkafka`.
First I installed it by getting the source from https://github.com/edenhill/librdkafka then built it as instructed.
Yet I got that error so installed this RPM file from https://centos.pkgs.org/7/remi-x86_64/librdkafka-0.11.1-1.el7.remi.x86_64.rpm.html.
All the same result

[2017-10-26 06:40] teckays commented on #267
@localzjaz I'm not sure about the error you have but from my own experience, installing `node-rdkafka` on Alpine is a nightmare. I was in the exact same situation when I decided to switch to Debian Jessie.

Let me know if you want me to share my `Dockerfile`
Hope this helps!

[2017-10-26 15:53] matthax commented on #275
It's linked as a submodule in the actual repo, you've got to tell GitHub to clone it. Here's the process I use right now:
[code]

Try that, let me know if it works or not. Are you installing from `npm` when you encounter the error? Or are you trying to build this from source?

[2017-10-26 15:59] matthax commented on #273
snappy is a compression algorithm, there should be C/C++ headers included with `librdkafka` itself. I was mistaken in the previous reply - you'll need to install `SASL` and `SSL` independently - not snappy. Do me a favor and follow the steps I list out below, and post the output:

[code]

[2017-10-26 17:12] sawdiggy commented on #273
I do have msbuild 12 (only) in my path.  I do have OpenSSL installec, but not SASL

$ node-gyp rebuild --verbose
gyp info it worked if it ends with ok
gyp verb cli [ 'C:\\Program Files\\nodejs\\node.exe',
gyp verb cli   'C:\\Users\\sawdiggy\\AppData\\Roaming\\npm\\node_modules\\node-gyp\\bin\\node-gyp.js',
gyp verb cli   'rebuild',
gyp verb cli   '--verbose' ]
gyp info using node-gyp@3.6.2
gyp inf

[2017-10-26 17:25] james-rabbit commented on #152
Looking deeper into things, this problem is not specific to node-rdkafka and seems to be something yarn intends to fix instead: https://github.com/yarnpkg/yarn/issues/932

[2017-10-26 18:15] mjafarpour commented on #260
Thanks,
and one more question:
When I use consumer stream, i have a five or more seconds delay at start time. how can remove this delay?

[2017-10-26 19:39] kevinburke opened #276 "Support Node 8"
Per the comment here: https://github.com/Blizzard/node-rdkafka/issues/267#issuecomment-338326225 - Node 8 is not currently supported by node-rdkafka.

Node 8 will officially become the "LTS" release in four days: https://github.com/nodejs/Release

It would be great if it was officially supported by the maintainers of this library.

[2017-10-26 22:21] webmakersteve commented on #274
What configuration are you giving the producer?

[2017-10-26 22:23] webmakersteve commented on #273
Do you not have python on that machine? Gyp depends on it to run. You will need to install python 2 to install native node modules.

[2017-10-26 22:24] webmakersteve commented on #270
You're right. It's because the `size` that is being passed into the consume method is being called with high watermark which is being adjusted.

I think it may make sense to get rid of fetch size to allow node to read as much as the stream needs to fill up.

[2017-10-26 22:25] webmakersteve commented on #269
Closing this issue because I think the question has been answered :)

[2017-10-26 22:25] #269 closed

[2017-10-26 23:04] matthax commented on #273
Run `npm install nan` in that directory too.

[2017-10-26 23:20] webmakersteve commented on #260
You can't. Kafka does not start sending you data until the group has stabilized. If you want to reduce the delay as much as possible use a different consume group each time. But I don't recommend doing this.

[2017-10-30 01:22] Kevin-Lee commented on #275
@matthax Thanks Matt.

First I got,
[code]
so did `npm install` first.
[code]
then `node-gyp rebuild` gave me
[code]

[2017-10-30 01:31] Kevin-Lee commented on #274
@webmakersteve Just the same ones as I used with `kafkacat` mentioned above.

[2017-10-30 01:34] Kevin-Lee commented on #274
Without `ssl.ca.location=/path/to/kafka-trust.pem`, there's no error but nothing happens. So nothings produced. There is no error and the Producer never gets 'ready' state.

[2017-10-30 03:28] FuzzOli87 commented on #276
@kevinburke I've been running this library's latest version on 8.x.x without a problem. Is the problem within a Docker container?

[2017-10-30 04:54] fsck-mount opened #277 "Is there a way to commit offsets to Zookeeper?"
I'm using Kafka Manage tool to see the offsets committed by workers. If I switch to node-rdkafka, I'll not be able to see the offsets pending and all.
1. Is there a way to commit offsets to zookeeper?
or
Is there any other tool like Kafka Manage (which can read offset and change/alter configs in Kafka?

[2017-10-30 06:29] kevinburke commented on #276
No, it’s on a Mac. My coworker kept getting “ld: could not find -lcrypto” when trying to install node-rdkafka. We took every step we could think of to make our environment similar - same env vars, same OpenSSL, same Mac version, same npm, same Node, same rdkafka version, yet I could install and he’d get that error message. Also, the vars printed out in the configure step - LDFLAGS etc - were the s

[2017-10-30 07:01] petermetz commented on #275
@Kevin-Lee

I'm not using CentOS, but had the exact same issue with node:alpine (which I had to ditch) as you do. Maybe it helps you as well.
This is how I got it working (thanks to @matthax for the tip on directly cloning the repo):

[code]

[2017-10-30 10:29] majorsean opened #278 "Install failed"
hello，i am getting this：

make: Entering directory `/opt/host/www/emarket-node/node_modules/node-rdkafka/build'
  CC(target) Release/obj.target/librdkafka/deps/librdkafka/src/rdkafka.o
In file included from ../deps/librdkafka/src/rdposix.h:119,
                 from ../deps/librdkafka/src/rd.h:68,
                 from ../deps/librdkafka/src/rdkafka_int.h:44,
                 from ../deps/librdkaf

[2017-10-30 11:08] prabugp commented on #180
If consumer1 is processing message1, and message2 gets delivered(in flowing mode) and processed before message1, then the commit would move the offset to 3 for that consumer group. If for some reason, consumer1 couldn't complete message1 processing, there is no way we can reprocess message1 by any mechanism. Is this the right understanding?

How does one control redelivery of messages, with at_lea

[2017-10-30 17:00] sawdiggy commented on #273
Def have python installed

"gyp verb which succeeded python C:\Python27\python.EXE"

I install nan, but still won't build.

[2017-10-30 18:32] evollu commented on #270
fetch size is useful for me because I want to do batch operation in consumer.

[2017-10-31 14:10] matthax commented on #273
Okay follow these steps and then paste the output here. You can wrap it in `<details></details>` so it's not huge lol.
[code]

If it's not caused by `nan` now, there's probably another problem down the line...

[2017-10-31 14:15] matthax commented on #278
Can you try with `v6.11.5` I'm not sure `v8.8.1` is supported yet.

[2017-10-31 16:04] sawdiggy commented on #273
<details>
$ node-gyp rebuild --verbose
gyp info it worked if it ends with ok
gyp verb cli [ 'C:\\Program Files\\nodejs\\node.exe',
gyp verb cli   'C:\\Users\\sawdiggy\\AppData\\Roaming\\npm\\node_modules\\node-gyp\\bin\\node-gyp.js',
gyp verb cli   'rebuild',
gyp verb cli   '--verbose' ]
gyp info using node-gyp@3.6.2
gyp info using node@6.11.4 | win32 | x64
gyp verb command rebuild []
gyp verb com

[2017-10-31 16:38] prabugp commented on #235
@abbshr what was the trick that you did on the StreamAPI? I'm looking at a similar usecase for my situation as well. Would be great to see how you solved it.

[2017-10-31 18:17] webmakersteve commented on #276
If your library is installed in a non-ldconfig search path ld may not be able to find it. I would like to make an adjustment to use the `-L` flags librdkafka discovers to remedy that issue.

The `-lcrypto` is not specifically a node 8 issue.

[2017-10-31 18:23] webmakersteve commented on #270
https://github.com/Blizzard/node-rdkafka/commit/30f2e16e56dbbc2477c87271b6f040451dd146a2

I changed the code a bit to honor the option better.

[2017-10-31 18:24] kevinburke commented on #276
can you describe how to determine whether the library is installed in a ldconfig search path?

[2017-10-31 18:25] webmakersteve commented on #275
You will need to run more than just node-gyp rebuild now since it uses a preinstall hook to hit the configure script that will only execute if you are using npm to wrap the node-gyp calls.

Glad to see you got it working - the `./configure` piece was the last step to making it work :)

@Kevin-Lee  can you try that?

[2017-10-31 18:26] webmakersteve commented on #274
I'll take a look at this and add some unit tests around it.

Did the error happen when you called `.connect`? Or at construct time. Any code you have would help :)

[2017-10-31 18:28] webmakersteve commented on #180
Kafka offsets are not stored just on a group basis. They are stored per group per topic per partition. No two consumers will ever be processing the same partition of messages, so they will never overwrite each other's offsets.

If you need to process messages asynchronously you should keep track of each partition / topic and the each offset that has been processed. Then, commit the lowest common d

[2017-10-31 18:29] webmakersteve commented on #277
You should use the new tooling kafka has for checking committed offsets instead of using zookeeper. Kafka now keeps track of its offsets in a compacted topic in kafka.

https://github.com/linkedin/Burrow also works great for keeping track of offset lag if thats your intended purpose :)

[2017-10-31 18:32] evollu commented on #270
greate! thanks

[2017-10-31 18:32] #270 closed

[2017-10-31 18:32] webmakersteve commented on #276
You can update the paths in `/etc/ld.so.conf` and then run `ldconfig` to update the cache. If the library it is looking for is not in one of the configured paths, or `/lib` or `/usr/lib`, ld will not find it by default.

In some linux distributions `/usr/local/lib` is not included in ld's search paths by default and sometimes has to be added.

In any event, there are things I can do on my end to m

[2017-10-31 20:54] matthax commented on #273
The only reason I can think of that would cause that error is the wrong build tools. To me that looks like a C compile issue - it's building the file as if it were `C` it's being too strict. Just make sure you've got the [VS2013](https://www.microsoft.com/en-us/download/details.aspx?id=40760) build tools and the path properly set, in your `environment PATH` variable not just your user path. I've t

[2017-10-31 21:19] chenfanggm commented on #216
same issue when install node-rdkafka@2.1.1 on CentOS with node v7.10.1, npm v4.2.0

[2017-10-31 21:42] erik-stephens commented on #216
Need to run `npm run configure` or its equivalent.  In the 2.1.1 version, `WITH_SASL` has no effect.  Would be nice to know how to have node-rdkafka configure librdkafka to do things like `--disable-sasl` now.

[2017-10-31 23:29] chenfanggm commented on #216
@erik-stephens
Even thought `npm run configure` may solve the directly run `node-gyp rebuild` after a npm install --force, the original problem of successfully install from `npm install node-rdkafka` still not get fixed. Thanks.

[2017-11-01 05:46] majorsean commented on #278
it's ok ,thanks.

[2017-11-01 05:46] #278 closed

[2017-11-01 05:59] fsck-mount commented on #180
@prabugp Yes, you are correct. But if you see, Kafka does it's job.  it given you message1 and gave you message 2 and message 3 as well. And you committed msg3. Which means, you have arrived at msg 3 and committed.

msg1 processing is up to you, It failed, so, you need to take care about it internally. At least once is guaranteed. If you don't want to skip any message processing failures, maintain

[2017-11-01 07:35] thekingofworld opened #280 "What's the difference between flowing mode and no-flowing mode in consumer?"
in my opinion,
we can get messages as soon as they are available in flowing mode;
we can control the speed of consumption and the amount of message obtained in no-flowing mode.
is that right? or someone know the other difference?
thx  : )

[2017-11-01 08:38] thekingofworld commented on #280
use flowing mode,  send msg ~ receive msg   spent  6-10ms
###here's code :
[code]

when use no-flowing mode, send msg ~ receive msg spent 1000+ms
###here's code:
[code]

[2017-11-01 11:06] d-sphinx opened #281 "Outdated version exists in npmjs.com? "node-rdkafka": "^2.1.1" install fails (both under npm and yarn)"
Hello, everyone! Create a simple package.json:

{
  "name": "Test",
  "version": "0.0.1",
  "dependencies": {
    "node-rdkafka": "^2.1.1"
  }
}

Installation process will fail under both npm and yarn packet managers.

If i do manual git pulling (including submodules) from here and then yarn it - it's OK, everything compiles, but in a real life when i have to use package.json it doesn't work.

I d

[2017-11-01 14:23] matthax commented on #281
The currently published version on NPM doesn't support windows. Support was just recently added by #248

[2017-11-01 14:32] d-sphinx commented on #281
When there will be an update of published version?

[2017-11-01 17:11] webmakersteve commented on #216
@erik-stephens The WITH_SASL workaround was added for machines that didn't have the library available. Now that it sources the existence of the library before adding it as a dependency, I didn't think it was necessary anymore.

Do you still want to compile node-rdkafka without SASL when SASL is installed on the machine?

@chenfanggm Are you running npm install or just node-gyp rebuild? If you're g

[2017-11-01 17:13] webmakersteve commented on #280
Flowing mode is more akin to low-latency stream processing. It is constantly fetching messages and pushing them to you as it finds them available, not stopping the processing for anything.

Regular batch consumption mode will work just the same if messages are constantly flowing into kafka, but you can reduce the latency in cases where there are not messages by reducing the consume timeout using `

[2017-11-01 18:24] FuzzOli87 commented on #276
@kevinburke Without having to modify any Makefiles, I found a possible solution while debugging my co-workers machines.

We updated xcode then ran ```xcode-select --install``` to install the xcode developer tools.

[2017-11-01 20:31] erik-stephens commented on #216
@webmakersteve I was able to install & run on alpine with 2.0.0.  I've been familiarizing myself with node-gyp and librdkafka build options the past couple of days which is why I chimed in here.  Digging through the bits, I found it strange that there is no way to pass options to librdkafka's `configure` since I wasn't seeing its auto-detection working, but I was incorrectly reading the build outp

[2017-11-02 00:39] joelnet opened #283 "Consumer emits ready before it is ready"
node-rdkafka v2.1.1 (same result in 1.0.6)
babel-node v6.24.1
node v8.2.1
kafka v2.11.0
Docker images: confluentinc/cp-zookeeper, confluentinc/cp-kafka, confluentinc/cp-schema-registry

I am creating some integration tests where I create a consumer and producer. After the consumer is ready, I produce a single message and wait for the consumer's data event to fire.

The message is never received by

[2017-11-02 00:56] Kevin-Lee commented on #275
@petermetz Great! Thanks a lot! I will try that.
@webmakersteve Yeah, I will and let you know the result. Thank you.

[2017-11-02 02:05] thekingofworld commented on #280
yup, using setDefaultConsumeTimeout() can reduce latency, thx.

[2017-11-02 02:07] thekingofworld commented on #280
another problem... Is there any side effect of using this method? if I set a very low value.

[2017-11-02 18:58] fsck-mount commented on #201
@webmakersteve Any update here?
Here is another use case:

I've a consumer in which I'll commit offsets manually. Let's say in case of any unexpected error or user interruption, we need to stop consuming the message ( an event listener on data) and commit the offsets via `consumer.commit()` and then need to disconnect via `consumer.disconnect()`. So, if the pause is not there, then few messages wi

[2017-11-02 19:14] webmakersteve commented on #201
It's fine if messages are consumed after you commit. As long as you don't commit their offsets they will get replayed when you rebalance.

In any event, I did find that pause and resume had been added, so they've been added (albeit, so far untested) to node-rdkafka.

https://github.com/Blizzard/node-rdkafka/blob/master/lib/kafka-consumer.js#L569-L595

[2017-11-02 21:24] fsck-mount commented on #201
@webmakersteve  I guess, you didn't get what I'm trying to do.

I agree with you that messages will be replayed., but here the thing we need to achieve exactly once. When the messages are replayed, we are going to have duplicated messages. But, if I pause the messages, and commit. Then I'll never have duplicated messages.

To work around this,

currently,

[code]

If puase is there, you don't need

[2017-11-02 23:18] webmakersteve commented on #201
Okay, so you're trying to get exactly once semantics. You probably aren't going to get them, for a variety of potential reasons, no matter what you do using node-rdkafka right now.

Kafka didn't support exactly once until 0.11 and librdkafka is not built to do exactly once just yet. Your best bet is to consume ONE message at a time (do NOT use the stream as it fetches more than one), and do what y

[2017-11-02 23:21] fsck-mount commented on #201
@webmakersteve Yes, I get it. But all I'm trying to do is to reduce the duplicates. However thanks :) 👍

[2017-11-03 00:05] battlecow commented on #237
The seek function no longer segfaults for me on master branch within a Debian docker thanks to the helpful suggestion above to subscribe to the topic first.  The method works when creating utilizing a new group.id only it would seem, when I attempt to resuse the method on a current group.id (or re-run the same seek code) I get the error:
`{ Error: Local: Erroneous state
    at Function.createLibrd

[2017-11-03 02:57] fsck-mount opened #284 "Producing to Kakfa Version 0.9.0.0?"
I've tried the following configuration, but looks like its' still not able to connect? I'm not getting and ready event fired from producer.

Here is my code looks like:

[code]

[2017-11-03 11:26] edoardocomar opened #285 "call to consumer.committed may segfault (macOS)"
Running a consumer which in its `on('data',..)` calls `committed(...)`
may segfault (on macOS) if the `committed` function is invoked many times in rapid succession.

We are attaching a somewhat artificial example where committed is invoked in a loop,
which may be easier to reproduce, by just sending one message to the topic

but the segfault happens as well in real use cases where committed is in

[2017-11-03 11:31] edoardocomar commented on #285
[code]

[2017-11-03 14:04] battlecow opened #286 "Retrieving timestamp message data"
Is there a way of retrieving the `CreateTime` field and adding it within the message payload for a consumer?
It appears as though I have timestamps working from the producer side but I cannot seem to figure out how to pull that out into the payload from the consumer side.

[2017-11-03 15:11] ankon opened #287 "Consuming all events in a topic"
I would like to implement the following logic:
1. Connect to kafka
2. Read all events currently in the topic (from beginning to "now")
3. Disconnect
4. Process these events

With the KafkaConsumer I have issues with step 2:
* I do not know how many events are in the topic, so I cannot simply try to read a known number of events.
* For the same reason I also do not know when to stop, so "flowing mo

[2017-11-03 15:20] battlecow commented on #287
Although the following could use a promise and other cleanup I just ran through this exact scenario late last night and got it to read from the beginning of every partition when referencing a new group.id: [https://gist.github.com/battlecow/efab71d180e593ea0dc6cbcead78b3a7](Gist)

[2017-11-03 19:14] rbustami commented on #235
@abbshr @webmakersteve I'm dealing with this same issue when implementing batch consumption and manual commits in v1.0.6.

The round trip time for commits slowly increments until we see a commit failure. The consumers in my group aren't rebalanced and the offset never increments on the partitions where the offset is stuck.

We ran the same implementation with v2.1.1 and everything works perfectly.

[2017-11-03 19:21] rbustami opened #288 "v1.0.6 consumer stuck during consuming"
From: https://github.com/Blizzard/node-rdkafka/issues/235
The cause for this issue was never really explained.

I'm dealing with a similar issue when implementing batch consumption and manual commits in v1.0.6.

The round trip time for commits slowly increments until we see a commit failure. The consumers in my group aren't rebalanced and the offset never increments on the partitions where the off

[2017-11-04 06:08] prabugp commented on #283
I can confirm this behaviour in my integration tests as well. I am using the `consume(1)` API to fetch just one message. If I add a timeout of about 5s (after the ready event is fired) before I call consume(1), it works.

[2017-11-04 06:19] prabugp commented on #180
This is what we have built as well. Thanks for confirming @webmakersteve @fsck-mount !

One related question: If we set the commit policy to manual (disable auto commit), and let's say that the processing of a message takes a long time, is there a timeout of sorts before Kafka/librd/noderd decides to re-deliver the message because the commit didn't arrive in time?

I understand when the consumer g

[2017-11-06 11:56] ankon commented on #287
Thanks for your code example, @battlecow! Based on that I came up with https://gist.github.com/ankon/9c2263bf1d04600129aeaa06e8c49179, which avoids the 5s sleep and uses promises.

[2017-11-06 20:57] rbustami commented on #27
@jackyjieliu @webmakersteve were you able to find the underlying problem to this issue?

[2017-11-07 17:19] vishnuchittamuru opened #290 "Authentication Error connecting to Kafka – Local: Authentication Failure"
Hi
                We are running into the following error trying to connect to Kafka.
                {
                                Error: Local: Authentication failure
                                origin: 'local',
                                message: 'authentication failure',
                                code: -1,
                                errno: -1,

[2017-11-07 17:27] vishnuchittamuru commented on #250
The issue was due to internal network.
Thanks.

[2017-11-07 17:27] #250 closed

[2017-11-08 06:53] ancashoria commented on #281
I'm also unable to install `node-rdkafka` because of this error:
[code]

I'm using MacOs

[2017-11-08 07:43] ancashoria commented on #276
@FuzzOli87 that did the trick for me too.
Thank you very much!

[2017-11-08 20:30] evollu commented on #218
looks like the implementation code is copied over into multiple methods like `pause` and `resume`?

[2017-11-09 18:14] webmakersteve commented on #281
This is because the crypto search path. I am making an adjustment to the ld search paths so this doesn't happen anymore.

[2017-11-09 18:16] webmakersteve commented on #290
What configuration are you providing to your client and what is the output of `console.log(require('node-rdkafka').features())`?

[2017-11-09 18:19] webmakersteve commented on #287
It does not ignore EOF, it just does not treat it as a throwable error as it is an expected case. If you want to react to this, consume x messages until you get less than x messages in a timeout, then you know you have reached the end of the partition.

[2017-11-09 18:21] webmakersteve commented on #283
Ready is called after you fetch metadata. When using a consumer, you can call consume but will not receive messages until the group stabilizes, which can take a few seconds up to even 30 seconds. This is just the way Kafka works and there isn't really a good way around it.

The best way is to just specify a short consume timeout and keep consuming until you get your first message, but calling cons

[2017-11-09 18:24] webmakersteve commented on #288
Chances are it is something with librdkafka under the hood. I only document that I upgrade the librdkafka version, not what the changes of that version entail. Those details can be found in the librdkafka repository.

2.1.0 is using librdkafka 0.11

[2017-11-09 18:24] webmakersteve commented on #286
Just merged your PR, so closing this issue :)

[2017-11-09 18:24] #286 closed

[2017-11-09 18:25] webmakersteve commented on #284
You need to call `.connect` on the producer or it will never call the ready callback. Is this your complete code or just a piece?

[2017-11-09 18:26] webmakersteve commented on #216
The dependencies are supposed to be optional but there is a problem with the way I am adding LD search paths. Looking to do that better in the build process so hopefully that resolves your issue.

[2017-11-09 19:30] joelnet commented on #283
This issue arose while writing integration tests. Our consumer emits ready (lets say offset is at 100), at which point we start the test on our code, we produce a new message (101) and expect to see the consumer's data event fire and receive message 101. The next the the data event fires on offset 102, so our integration tests fail.

It seems like what you are saying is right about group stabiliza

[2017-11-09 20:27] webmakersteve commented on #285
I believe I fixed it with this: 7423e540baffb685062c887c70a792ab6ad4a34f

I changed the implementation so you need to provide the topic partitions you want to get committed offsets or position for. If you provide something falsy, it defaults to the current assignment set, but you need to explicitly null the first parameter to get that behavior.

[2017-11-10 00:01] vishnuchittamuru commented on #290
@webmakersteve
[ 'gzip',
  'snappy',
  'ssl',
  'sasl',
  'regex',
  'lz4',
  'sasl_gssapi',
  'sasl_plain',
  'sasl_scram',
  'plugins' ]

[2017-11-10 13:47] Nurchik opened #291 "Couldn't load module"
Hi!

After I had sucessfully installed node-rdkafka (v. 2.2.0), I got the next error:
[code]
**But this file exists in that path**
![snapshot2](https://user-images.githubusercontent.com/5254519/32661031-6eaee9e0-c64f-11e7-87a8-87f9bab31359.PNG)
I use
**node - v6.11.5**
**Windows 10 x64**

Could you point me where the problem may be?
Thanks in advance :)

[2017-11-10 15:12] dapetcu21 opened #292 "Compile creates broken build on node:8-alpine"
So, I have the following Dockerfile:

[code]

I get the following error:

[code]

I have made sure my `node_modules` is in `.dockerignore`. I also tried to run `npm rebuild` manually in the container with no success. What am I missing? `./configure` seems to pass will all dependencies listed as `ok` and the build doesn't fail.

[2017-11-10 18:24] webmakersteve commented on #291
Can you try the node module separately without using the bindings library. I think the error is lying about not being able to find the bindings and there is another error surfacing.

So, try doing
[code]

[2017-11-10 18:26] webmakersteve commented on #292
Is there any more to that stack trace? It isn't finding a reference to a function defined in `common.cc` and I'm not sure what it is providing where it's having that issue. C++ type mangling doesn't help either.

What function are you calling that causes this error? That could help too.

[2017-11-10 21:39] webmakersteve commented on #290
https://github.com/edenhill/librdkafka/issues/1510

It looks like you opened an issue over there.

[2017-11-11 02:43] FuzzOli87 commented on #292
@dapetcu21 I've been trying to use Alpine for this library for a while now and my advice is to not get caught up. I eventually started using the apk package for librdkafka instead of letting this library build it but even that gave me huge issues.

I ended up going for the fat Node image. If you figure it out, please share!

[2017-11-11 06:57] Nurchik commented on #291
The same error has thrown
[code]

[2017-11-11 07:22] dapetcu21 commented on #292
@webmakersteve No, there isn’t more about the error. It fails when trying to require the lib, at linking time.

[2017-11-11 10:21] Nurchik commented on #291
Thank you for your help.
But the problem was that i compiled node-rdakafka wrong.
Previously I used **VS2013 Developer Terminal** to compile **librdkafka** with **MSBuild(v120)**.
But when I just added **C:\Program Files (x86)\MSBuild\12.0\Bin** to PATH it compiled successfully and became available to **require**.

[2017-11-11 11:06] Nurchik commented on #291
I have found some strange behaviour.
[code]
In the beginning of building it tries to copy not existing file (**librdkafkacpp.dll**) to node_modules\node-rdkafka\build\Release. (watch piece of log which is bolded) even it isn't yet compiled and created.

But after compilation finishes, the script copies only **librdkafka.dll** and **zlib.dll** to **node-rdkafka\build\Release**. However, in the fold

[2017-11-13 10:37] teckays commented on #218
Looks like none of the NodeJS libraries offer advanced consumer/producer API's which kinda pushes me toward a pure Scala implementation (which is not necessarily a bad thing)

[2017-11-13 16:26] chanakyamandava commented on #267
I am using a windows OS, and followed the instructions at https://github.com/Blizzard/node-rdkafka#windows and still the issue with node-gyp rebuild persists.  Can anyone help me resolving this issue. Please find the attached debug log.

[npm-debug.log](https://github.com/Blizzard/node-rdkafka/files/1467582/npm-debug.log)

[2017-11-14 13:30] michallevin opened #294 "ProducerStream error in produce function"
Hi,

I am using the ProducerStream in objectMode. When writing more than 1 message to Kafka at the same time (without waiting for the previous write to finish), a `"topic" must be a string` error is thrown in the producer's produce function.

I noticed that in the first call to produce, the `topic` parameter exists and the `message` is of type Uint8Array. On subsequent calls, the `topic` parameter

[2017-11-14 21:46] jmwilkinson opened #295 "How to set consumer group to specific offset?"
Trying to follow examples and docs around this, but it's really unclear. How do you go about setting a particular consumer group to a particular offset? Don't want to actually read data, just want to set the offset.

Example of what I've tried:

[code]

It's become more convoluted as I've tried to deal with various error messages.

It seems like such a simple thing.

Most recent failure:

[code]

[2017-11-15 01:13] evollu opened #296 "clearing buffer throw error in objectMode"
When the stream producer produces messages before Kafka is connected, messages goes into buffer.
However when the stream clears the buffer it throws error on this line
https://github.com/Blizzard/node-rdkafka/blob/master/lib/producer-stream.js#L216
 with exception
[code]

[2017-11-15 08:18] dapetcu21 commented on #292
Running `nm` on the `node-librdkafka.node` file, there seems to be a `_ZN9NodeKafka10Conversion14TopicPartition11FromV8ArrayERKN2v85LocalINS2_5ArrayEEE` symbol present, which seems to me like it points to the same function `_ZN9NodeKafka10Conversion14TopicPartition11FromV8ArrayEN2v85LocalINS2_5ArrayEEE` should point to, but somehow a C++ name mangling convention mismatch happened along the line.

[2017-11-15 09:57] michallevin commented on #296
@evollu I am seeing the same error when using the ProducerStream in objectMode (https://github.com/Blizzard/node-rdkafka/issues/294).

[2017-11-15 13:35] evollu commented on #296
OK I will close this as it is a duplicate

[2017-11-15 13:35] #296 closed

[2017-11-15 18:41] jmwilkinson commented on #295
After some more investigation, it seems this is a bug with the assign function.

[2017-11-15 22:14] evollu opened #297 "Auth in state CONNECT (handshake not supported)"
My node consumer receives Auth error after processing messages for a while. I don't experience the same issue with dotnet-kafka library with exactly the same config so I assume it is something related to node-rdkafka

Kafka ver: 1.0.0

I have a consumer with following code
[code]

my consumer config is as follow
[code]

here is all logs with `debug: security`
[code]

[2017-11-15 22:55] JaapRood commented on #294
I saw the same thing and managed to track it down to `ProducerStream.prototype._writev` (called by Node when there's multiple chunks buffered in the stream to all be written at once), or more specifically [the `writev` function declared above it](https://github.com/Blizzard/node-rdkafka/blob/master/lib/producer-stream.js#L199-L220). This function accepts a `topic` as an argument, which is passed a

[2017-11-16 02:39] evollu commented on #297
seems to be caused by a messed up consumer offset. using a new group works fine

[2017-11-17 02:09] evollu commented on #297
update: I see following error in log as well
`message: '[thrd:main]: Group "simple-node" heartbeat error response in state up (join state started, 10 partition(s) assigned): Local: Timed out' }`

[2017-11-17 03:55] JaapRood opened #299 "Logical offsets not accepted by KafkaConsumer `assign` method"
As far as I can gather `librdkafka` supports **logical** offsets to be passed to `consumer.assign(...)`, like `earliest`, `latest`, `-1`, `-2`, etc. However, these logical offsets seem to be ignored, falling back to the offset.

**node-rdkafka version**: `2.2.0`
**librdkafka version**: `0.11.1`

## Use case

I'm trying to consume the partition of a topic from the beginning. I'm using this topic as

[2017-11-17 18:01] josh-stevens opened #300 "Install issues - Docker and Ubuntu"
I've had to jump through a series of hoops to get this to build in a Docker image with Node 8 and Ubuntu. I have to have this as part of my build process:

[code]

and a later part of the build moves that folder into the build image:
`rsync -ahu --no-compress --info=progress2 kafka-build/node-rdkafka build-image/node_modules/`

This feels super gross and hacky, and now I've pinned a dependency ver

[2017-11-18 17:39] evollu commented on #297
the issue is caused by me committing offset too often.

[2017-11-18 17:39] #297 closed

[2017-11-19 15:49] jSherz commented on #300
What's the output of your `npm install`? Does it fail to build node-rdkafka? Which Docker base image are you using?

[2017-11-21 02:23] kidlj commented on #181
I'm facing the same problem, with 1m messages to consume.

[code]
I'm using stream mode, Here's my consuming code:

[code]

At first 10-15 minutes it runs well, but later it can only process about 1 message per second, very slowly, and finally aborted because of out of memory.

[2017-11-21 10:37] mlazzarini opened #303 "Confusing macOS pre-compiled node-librdkafka.node in packaged releases"
Trying to run my NodeJS application which is using `node-rdkafka` library, it crashes.
I've tried different docker base images, and I get different errors:
- with `FROM node:carbon` in my Dockerfile, I get:
[code]
- with `FROM node:boron`, I get:
[code]
- with `FROM node:carbon-alpine`, I get:
[code]
I'm using:
- `node` v. 8.9.0
- `node-rdkafka` v. 2.1.1

[2017-11-21 12:25] deyceg commented on #239
@FuzzOli87 Did you find out what as causing the issue? We've upgraded from 0.10 and having the same issue with consuming using confluent containers.

[2017-11-21 18:50] #290 closed

[2017-11-22 06:25] krishanfrog opened #305 "Not able to set properties for a topic"
I have this sample code which fails when I try to set acks for a topic. Have the latest version of rdkafka - 2.2.0

`const kafka = require('node-rdkafka');`
`const producer = new kafka.Producer({
  'metadata.broker.list': 'localhost:9092',
  'dr_cb': true
});`
`const topicConfig = {'request.required.acks': -1};`
`producer.connect().on('ready', () => {
  const topic = producer.Topic('Dummy', topicC

[2017-11-22 08:11] marianban opened #306 "NPM install fails"
Hi,

I'm trying to install the latest version 2.2.0 and it fails with the following error:

/usr/bin/ld: cannot find -lcrypto
/usr/bin/ld: cannot find -lssl
collect2: error: ld returned 1 exit status

[npm.log](https://github.com/Blizzard/node-rdkafka/files/1495075/npm.log)

I tried few older versions:
2.1.1 - failed as well
2.1.0 - works

Thanks

[2017-11-22 10:19] krystianity commented on #305
I think you are using the old API.
You can pass the topic config to the Producer constructor `new Producer(options, tconf);`

Furthermore there is no need to pass the option during produce calls.
Just call `producer.produce("topicname",..)` with a topicname.

[2017-11-22 10:20] krystianity commented on #305
If your aim is to create a Kafka Topic, you can use a metadata call to help with topic creation.

[2017-11-22 11:03] krishanfrog commented on #305
Don't want to create a topic. the alternate way to pass topic config to Producer constructor works.

But what do you mean by using the old API? The node module is the latest and has the latest code.

[2017-11-22 12:13] bobrowadam opened #307 ""Queue full" Error when writing batch of messages"
I'm trying to write messages in batches yet I fail to write in batch that is  > ~20 messages after `stream.write(message) === false`.
I believe this means that the queue is full although the default `queue.buffering.max.messages` is 100000.
Here is my config:
[code]
Thanks

[2017-11-22 13:43] krishanfrog opened #308 "Local queue gets filled up and delivery reports not obtained if not flushing"
What is the exact use case of calling flush() on a producer.

I thought it is to be called if disconnecting the producer. But I have to call it periodically otherwise the local queue doesn't get cleared (And I get a `Local: Queue full` error) and I don't get the delivery reports too. Why is that so?

`var producer = new Kafka.Producer({`
`      'client.id': 'group',`
`      'metadata.broker.list':

[2017-11-22 14:29] krishanfrog commented on #308
I see that instead of a flush() a poll() done periodically also fulfills the requirement.

Can close the issue but I don't understand why we need to wait to poll when there is an event listener for real time updates

[2017-11-22 14:29] #308 closed

[2017-11-22 16:35] mlazzarini commented on #303
In addition: the corrupted binary file `/app/node_modules/node-rdkafka/build/Release/node-librdkafka.node` is already included when downloading `node-rdkafka` from npm registry. That's wrong, as the operating system is trying to load it as a library and fails. It should be removed.

[2017-11-22 16:50] ankon commented on #303
We found the underlying cause of the problem now: Our build process only executed `npm install --ignore-scripts` on the target system (i.e. the docker image @mlazzarini described), and so we ended up with whatever `node-librdkafka.node` was installed through that: a `Mach-O 64-bit x86_64 bundle, flags:<NOUNDEFS|DYLDLINK|TWOLEVEL|WEAK_DEFINES|BINDS_TO_WEAK|HAS_TLV_DESCRIPTORS>`

This binary would o

[2017-11-22 19:39] Tapppi commented on #232
This is resolved with `v2.1.0`?

[2017-11-23 08:33] krishanfrog opened #309 "Messages lost or queued out of order if broker connection broken"
If I send messages at the rate of 1000 messages per second and terminate a broker connection in the middle, I see different behaviors randomly

For eg: If broker connection was terminated at the 500th message and reconnected when trying to send the 3000th message

- Sometimes messages in the middle are lost
messages 600-3000 are resent successfully but the other 100 messages in between are not. I

[2017-11-24 06:22] krishanfrog commented on #309
@webmakersteve can you take a look at this.

[2017-11-24 07:59] edenhill commented on #309
Messages should not be lost, but re-ordering may happen:
https://github.com/edenhill/librdkafka/issues/1092

This will be solved properly when Idempotent transactions are implemented.

[2017-11-24 10:54] krishanfrog commented on #309
I saw one instance of messages being lost. will try to reproduce it again.

Any timeframe for when Idempotent transactions will be implemented?

[2017-11-25 01:51] kidlj opened #310 "Error: Local: Broker transport failure every 10~15 minutes"
[code]

My node-rdkafka consuming code:

[code]

The kafka cluster info:

[code]

Did I miss some config options?

Thanks.

[2017-11-25 10:53] krishanfrog commented on #305
@krystianity can you please mention what you mean by the old API?

[2017-11-25 14:14] krishanfrog opened #311 "Is there any reconnect event if broker is reconnected"
If I start my producer and then kill the broker, an "error" event is triggered immediately.

Is there any way to know if the connection to the broker is reestablished once I bring the broker up again? The "ready" event is triggered just once when the process is initially started

Asking this because once I get a delivery report error for a message it doesn't get resent automatically upon reestabli

[2017-11-27 09:14] krishanfrog commented on #305
Facing a similar issue with the API queryWatermarkOffsets()

Get an error this._client.queryWatermarkOffsets is not a function. The underlying C++ implementation does not have this function.

What is the root cause for this? @krystianity

[2017-11-27 11:05] krystianity commented on #305
@krishanfrog With "old API" I was not referencing the version of the module, I was talking about the way you are calling the functions. These calls would have worked in < 1.9 but not in 2.x

[2017-11-27 17:43] webmakersteve commented on #305
I removed support for individually configured topics. They caused big issues with the interplay between librdkafka's reference counting and node's garbage collection. It would have been a lot of work for what I see as very little gain.

The way to configure your topic now is to pass  the topic configuration into the constructor of the producer (or consumer). If `producer.Topic` is still somewhere

[2017-11-27 17:44] webmakersteve commented on #311
If the initial metadata fetch fails, `node-rdkafka` will not automatically reconnect. You should respond to this in your app specific manner in the connect callback.

There is currently a PR to add an emitted event when that happens, like `connect.failure` or something, so it should make it a little easier to respond to these issues especially when you omit the callback in the connect method.

[2017-11-27 17:45] webmakersteve commented on #310
This is generally indicative of some network issues, or broker problems. Is it on a fixed interval? What version of Kafka are you using for your brokers?

[2017-11-27 17:45] webmakersteve commented on #232
Yes! I get to close an issue! 🎉

[2017-11-27 17:45] #232 closed

[2017-11-27 17:46] webmakersteve commented on #303
That file should not be published with the library. I'll investigate.

[2017-11-27 17:48] webmakersteve commented on #308
`Poll` is to allow `librdkafka` internally to execute pending events. It uses this to mark messages in the queue as having been successfully delivered. I went through several iterations, baking poll into a produce call, etc, but ended up settling on it needing to be manually executed.

If you use the stream producer you do not need to poll manually. Additionally there is a method on the producer t

[2017-11-27 17:49] webmakersteve commented on #307
The stream internal buffer and the librdkafka queue are actually separate. The stream buffer is set using the node option, `highWatermark`. If you want more room in it you will need to adjust that.

However, the stream producer should generally not get full unless you are saturating it synchronously.

[2017-11-27 17:51] webmakersteve commented on #239
https://github.com/Blizzard/node-rdkafka/blob/master/docker-compose.yml

I updated the end to end tests to use confluent and they work, however I'm using the community versions.

Do the tests pass for you when using the packaged docker-compose?

[2017-11-27 17:54] webmakersteve commented on #292
The only thing I can think of is for some reason the parameters are of different types at runtime than they were at compile time so it can't find the right call.

http://demangler.com/

First one is `NodeKafka::Conversion::TopicPartition::FromV8Array(v8::Local<v8::Array> const&)`

Second one is `NodeKafka::Conversion::TopicPartition::FromV8Array(v8::Local<v8::Array>) `

One is a constant reference

[2017-11-27 17:55] webmakersteve commented on #299
It's because the offsets you pass are getting casted to integers. I'll see what I'll need to do to support this :)

Thanks for the find.

[2017-11-27 17:56] webmakersteve commented on #294
This has been merged! I think that fixes your issue according to your comment there? So closing!

[2017-11-27 17:56] #294 closed

[2017-11-27 17:58] webmakersteve commented on #295
Why are you committing directly after the assignment? If you remove that do things work? Commit with no parameters is going to try to commit the currently stored offsets, which don't exist because you haven't called consume once yet.

If you want to commit there pass in the topic partition just the same as the other functions.

[2017-11-27 18:58] bobrowadam commented on #307
That did the trick. Thanks!  :)

[2017-11-27 19:01] #307 closed

[2017-11-27 21:17] erik-stephens commented on #310
@kidlj I've seen that as well due to the broker reaping idle connections.  Would be nice if we could see the underlying reason for the disconnect but I think this library & librdkafka are simply relaying what the broker is telling them.  Maybe try `log.connection.close=false` if too noisy.

[2017-11-28 04:53] krishanfrog commented on #305
ok thanks @webmakersteve. What about the queryWatermarkOffsets() method. Is that also deprecated? If yes is there any other way to get offset for a partition in a topic?

[2017-11-28 05:03] krishanfrog commented on #311
Got it. Didn't know about the callback option in connect(). That is helpful.

But if the initial connection is successful and then broken (when broker is down) and then reconnected (once its brought back up), is there an event triggered when node-rdkafka automatically reconnects to the brokers? This way the application can know a reconnect has occurred.

[2017-11-28 15:13] FuzzOli87 commented on #226
@webmakersteve Thanks for responding! I learned a long time ago that when it comes to open source, patience and understanding is key.

I haven't had to use this feature yet, but we are about to start implementing a way to recreate state on application start as a local store so we will start using it soon.

[2017-11-28 16:48] jmwilkinson commented on #295
Yes, I tried various permutations of passing in partitions, consuming first, etc. The problem is with the assign function, which should do precisely what is in the question (assigning a consumer group's offset for a particular topic), but fails with esoteric error messages.

It was fairly straightforward to accomplish the same thing with a python script using the confluent kafka library.

My recom

[2017-11-28 17:04] michallevin commented on #307
@webmakersteve From what I understand, this means that the highWatermark must be set to at least the `batch.num.messages` (in objectMode) for the batching to work as expected. Should this be in the documentation?

[2017-11-28 17:16] webmakersteve commented on #307
Batching will still work fine as long as you do not synchronously batch more messages than the high watermark. The write callback is just in a set immediate call because the produce call is non blocking in librdkafka.

[2017-11-28 17:21] webmakersteve commented on #311
There is no event raised specifically for re-connects to brokers, but you should not have to worry about it too much. That is all handled under the hood.

Disconnecting from kafka is a non failure case because the way it is distributed, so even if it happens it should not impact your application much. The only time it is a problem is if all your brokers are down (or the leader and all replicas for

[2017-11-28 17:23] webmakersteve commented on #305
`queryWatermarkOffset` is not deprecated! I would recommend using that to get the currently committed offsets for all the partitions you care about, if you need to know what they are before your application runs.  You can use the metadata from the broker to determine the number of partitions and the topic names.

[2017-11-28 20:33] loganbfisher commented on #237
@webmakersteve I am seeing the same issue as above.  It is no longer seg faulting but I am getting the erroneous state error message.  here is my code.

[code]

Here is my Dockerfile

[code]

Is there anything you see wrong?  Thanks for the help!

[2017-11-28 22:09] erik-stephens opened #313 "Low-level Fetch API"
I have (topic, partition, start offset, end offset) and would like to be able to fetch that range.  This is to support a batch or replay scenario, not so much a streaming scenario.  I'm looking for an api here that is close to [the kafka fetch api](https://cwiki.apache.org/confluence/display/KAFKA/A+Guide+To+The+Kafka+Protocol#AGuideToTheKafkaProtocol-FetchAPI).  There a way to do that with this l

[2017-11-29 03:41] kidlj commented on #310
@webmakersteve I'm using kafka_2.10-0.10.0.0 and yes, it is on a fixed interval, about 10~15 minutes once.

[2017-11-29 03:43] kidlj commented on #310
@erik-stephens Thanks for your explanation, sir.

[2017-11-29 05:24] prabathabey opened #314 "Producer does not return an error when a message is published while Kafka is down"
$Subject was reproduced in an attempt to verify error handling of Producer component in node-rdkafka version 2.2.0. I've got an "always-on" client in my test, which is connected once and reused afterwords. I had turned off Kafka after the client has successfully connected to encounter the aforementioned behaviour. During the test, "Producer#produce" method neither threw an error nor did it return

[2017-11-29 08:23] edenhill commented on #314
Produce is an async API:
Messages are queued internally (for up to `message.timeout.ms`) waiting for a partition leader broker to come up.

[2017-11-29 22:18] artz opened #315 "Invalid ELF Header binding issue"
I am getting the dreaded `invalid ELF header` issue on a clean docker build using the `node:8` base image, and was looking for ideas if you had any.

Dockerfile
[code]

Error:
[code]

Here's the full docker build log in case it helps; I didn't see any obvious errors in the output.
[code]

[2017-11-30 21:08] JonathanGladwin opened #316 "Installation node-rdkafka issue"
I am trying to download and install node-rdkafka using the following link, on MacBook pro.

https://github.com/blizzard/node-rdkafka
https://blizzard.github.io/node-rdkafka/current/

It is just mentioned this command, "npm install node-rdkafka" to install it.

But, I am getting the following errors:

=============================================================
Users:Node-rdKafka Users$ npm instal

[2017-12-01 12:57] JoseBalado commented on #306
If you are using Linux (Ubuntu/Mint) try:
sudo apt-get install libssl-dev

That solved the problem for me.
Regards.

[2017-12-01 13:56] marianban commented on #306
@JoseBalado Thank you, it worked for me as well.

[2017-12-01 14:20] JoseBalado commented on #306
@marianban Glad it helped.

[2017-12-01 16:52] JonathanGladwin opened #317 "How to call Librdkafka methods and work on this?"
Hi,

As per the instructions below, I am not sure what program editor that I should use and add require code, use Librdkafka Methods, Sending Messages, etc. after installation? Is there development help documentation to work on this?

============================================================
You can install the node-rdkafka module like any other module:
npm install node-rdkafka

To use the modu

[2017-12-01 17:12] jamespegg commented on #276
@FuzzOli87 This worked for me too

I kept getting the following error but updating xcode fixed it;

`ld: library not found for -lcrypto
clang: error: linker command failed with exit code 1 (use -v to see invocation)
make: *** [Release/node-librdkafka.node] Error 1`

I guess this was because I had just updated to High Sierra so I guess XCode needed to be rebuilt or something.

[2017-12-01 18:23] andre-l-mm opened #318 "Avro Question"
I have used node-rdkafka to create producers and consumers in node and it worked great. However, In the company I work for, there is a requirement from enterprise to use AVRO and confluent schema registry. We are using confluent distribution here.

I have noticed that the support to AVRO and schema registry on confluent C/C++ implementation seems to be provided in the libserdes library.

I underst

[2017-12-01 18:32] erik-stephens commented on #313
I found #18 which captures what I'm trying to do.  Looks like I can accomplish what I need with `assign()`.  Was having problems trying to use `seek()`.  Is it correct to use assign and not seek for this use case?

[2017-12-02 00:50] prabathabey commented on #314
@edenhill Thanks for the feedback. If I'm not mistaken the method comment of "Producer#produce" says "Produce a message to Kafka synchronously. ...", which made think the messages are produced synchronously. Anyhow, to ensure transactional properties of application components are honoured at all times, I've enabled acks via the topic conf with the parameter "request.required.acks" and scheduled im

[2017-12-04 17:14] krishanfrog opened #319 "Reset offset to consume from not working"
I have a requirement to re-read a message from the queue if any application logic is satisfied.

I have disabled the offset auto commit and I manually commit the offset of the message that was read so that the same message is consumed again.

But the next consumed message in the process is from the next offset. Is there some bug around this code?

[code]

I expect logs of type

[code]

Instead I g

[2017-12-04 17:16] krishanfrog commented on #319
FYI

Looks like the offset commit to the broker is working as expected because when I restart the process it picks up from the last read message.

[2017-12-04 17:48] #305 closed

[2017-12-04 17:48] #311 closed

[2017-12-04 18:02] krishanfrog commented on #295
@jmwilkinson any luck with this?

[2017-12-04 18:17] jmwilkinson commented on #295
No, I just used the confluent kafka package and wrote a python script.

[2017-12-04 18:30] erik-stephens commented on #295
I just saw this:

https://github.com/DavidLiuXh/KafkaOffsetTools/blob/master/kafka_offset_resetter.cc#L175

I haven't done the exercise of translating into node-rdkafka calls yet - my current needs are to read from specific offsets, not reset.  I've been able to read from specific offsets using `connect(); assign(); consume();`.  Hope it helps.

[2017-12-04 21:56] jimallen commented on #316
**Same issue:**

[npm_test] npm install node-rdkafka                                                                                          14:23:58

checking for OS or distribution... ok (osx)
checking for C compiler from CC env... failed
checking for gcc (by command)... ok
checking for C++ compiler from CXX env... failed
checking for C++ compiler (g++)... ok
checking executable ld... ok
checki

[2017-12-04 22:02] erik-stephens commented on #316
Does it work if you `brew install openssl` first?

[2017-12-04 22:12] jimallen commented on #316
Same result.

[2017-12-04 23:33] rationull opened #320 "Write stream does not flush when piped from readable stream"
When writing a small script to populate a topic for testing, I hit an issue where the messages I write are not being flushed out to Kafka before the script terminates. I think that when piping a read stream into a stream created by Producer.createWriteStream(), the write stream is being closed when the read stream is exhausted (as expected) but without attempting to flush writes.

I've implemented

[2017-12-05 04:14] JonathanGladwin commented on #316
I got it worked. This issue is due to the following reasons,
1. Firewall is blocking. I tried in an open wifi connection and got it worked.
2. I had to change "name" in "package.json". Open "package.json" and change it. Then run "npm install node-rdkafka"

[2017-12-05 04:17] JonathanGladwin commented on #316
This is the final results for me. I hope, it has worked now.

O2771-C02K648W:node-rdkafka-master user$ npm install node-rdkafka

checking for OS or distribution... ok (osx)
checking for C compiler from CC env... failed
checking for gcc (by command)... ok
checking for C++ compiler from CXX env... failed
checking for C++ compiler (g++)... ok
checking executable ld... ok
checking executable nm... ok

[2017-12-05 04:19] JonathanGladwin commented on #317
Do I need to use Eclipse ? How do I call  Librdkafka Methods? Do I need to create new class and call?

[2017-12-05 05:30] jimallen commented on #316
Looks like installing the latest version of command line tools solved it for me. Thanks all!

[2017-12-05 06:21] JonathanGladwin commented on #316
Can you please explain it with the commands which you have used?

[2017-12-06 06:16] krishanfrog commented on #319
On checking it further found that the offset commit works for the broker but not locally. As in If I commit offset 250, the next message read is offset 251 in the same process. But if I restart the process after committing offset 250, the next message read is offset 250 (which is want I want in the first case)

Any help here @webmakersteve. Kind of important for my implementation

[2017-12-06 19:07] erik-stephens commented on #313
Assigning gets me close but I'm stuck with `consume(count)` which isn't deterministic enough for my needs.  In other words, this code won't always produce the same results for the same values of `i`, `j`, and `count`:
[code]

Maybe put another way, how can I [re-]consume a topic in a consistent way?  For simplicity sake, assume topic retention never reached, brokers never die, consumer rebalancing

[2017-12-07 22:38] #288 closed

[2017-12-11 21:56] erik-stephens commented on #313
I have some code [1] that can very easily get into a hung state (see the "hung-*.out" files).  My first thought is that it's an issue with librdkafka since it's saying it doesn't think it needs to fetch any more.  Plus, I don't see the node bindings adding much to the assign() & consume() code paths.  However, I was unable to get kafkacat (librdkafka=0.11.0) to hang.  My `mycat` make target takes

[2017-12-12 19:49] erik-stephens commented on #313
Today I learned that `consume(count)` makes a best effort to read `count` messages.  If the messages haven't been pre-fetched yet, then there is a good chance that the consume call will [quietly do nothing](https://github.com/Blizzard/node-rdkafka/blob/master/src/workers.cc#L479-L483) and it's up to us to try to consume some more.

[2017-12-12 20:42] erik-stephens commented on #283
If subscribe() isn't required for your testing, perhaps assign() will be a good workaround to take group membership out of the equation.

[2017-12-12 22:20] erik-stephens commented on #313
Am able to accomplish what I need by assigning to a single partition at a time and consuming the desired offset+count.

[2017-12-12 22:20] #313 closed

[2017-12-13 07:23] krishanfrog commented on #319
Any help here would be greatly appreciated. I am stuck on this issue for a week.

[2017-12-13 07:35] erik-stephens commented on #319
You can try unsubscribing & subscribing again, but they may have unwanted rebalancing side-effects.   Or, assign() may be what you want but that's a lower level.  librdkafka pre-fetches, so when you consume(), you're consuming from its internal queue, not directly from the kafka broker.

[2017-12-13 07:38] krishanfrog commented on #319
Do not want to go with unsubscribing and subscribing or assign() as they will complicate the flow

Is there any way to stop the pre fetch ?

[2017-12-13 11:05] krishanfrog commented on #319
adding 'queued.max.messages.kbytes': 1 to the consumer config also doesn't stop the prefetch and the issue. The message being sent is 24kb.

[2017-12-13 20:06] webmakersteve commented on #319
If you are committing a message, use `commitMessage` not `commit`. `commit` is for committing a topic partition. There are nuances about the way they are done because in the case of a message you want to commit to an offset that is actually one greater than what you read, because the commit is specifying the offset of the next message to be read.

[2017-12-14 05:17] krishanfrog commented on #319
@webmakersteve
Have tried ```commitMessage``` too after altering the offset by -1 to reread the message. I see the same issue with this flow too.

I understand that we commit an offset one greater than what we read and that is why I'm calling

```consumer.commitSync({ topic: data.topic, partition: data.partition, offset: data.offset });```

which should technically work because I'm asking to read

[2017-12-14 19:11] liesislukas commented on #262
started working with new MacBook and had same issue, so glad I left here this solution, it was the way out again. all software up to date. Issue is still there and is exactly the same.

[2017-12-17 14:31] sprijk opened #321 "Kafka consumer stream _read called after close and this.consumer is set to `null`"
This causes an error thrown:
[code]

A check for `this.consumer` or presence should fix this?

[2017-12-17 17:25] krishanfrog commented on #319
Any update on this issue? Either I am doing something wrong or its a big bug.

[2017-12-17 17:44] webmakersteve commented on #319
When you call consume. Even when you consume one message. You are consuming a batch. Everything in Kafka is done with batching. When you call consume subsequently, even though you are setting the commit to an old value, it doesn’t matter. The committed offset is for broker purposes only.

You need to use assign to do what you’re trying to do. But if you want to re read a message it feels like forc

[2017-12-18 04:17] Nagasai-Aytha opened #323 "npm install of node-rdkafka is failing"
Hi

I am getting below error when trying in my docker Linux machine

checking for OS or distribution... [32mok(B[m (Debian)
checking for C compiler from CC env... [33mfailed(B[m
checking for gcc (by command)... [33mfailed(B[m
checking for clang (by command)... [33mfailed(B[m
checking for cc (by command)... [31mfailed(B[m (fail)
checking for C++ compiler from CXX env... [33mfailed(

[2017-12-18 06:57] analytik commented on #323
I'm having a similar problem, using Node.js v8.9.1 - but for some reason I won't get even to the part where it starts building:
[code]

My Dockerfile includes `apt-get update && apt-get install -y libssl-dev liblz4-dev libsasl2-dev libpthread-stubs0-dev build-essential pkg-config` - has any of the dependencies changed?

[2017-12-18 16:38] lovedebug commented on #323
same install issue with node-rdkafka 2.2.1 and nodejs 8.9.1 on windows

[2017-12-19 17:41] mdenoun opened #324 "npm install of node-rdkafka failed on windows as well"
npm install node-rdkafka does not work on windows
(also node-gyp configure --msvs_version=2013 does not work but I dont think it is the problem)

The error I got when doing npm install node-rdkafka are

c:\install\test\node_modules\node-rdkafka\deps\librdkafka\src\rdkafka_int.h(53):
 fatal error C1083: Cannot open include file: 'openssl/ssl.h': No such file or directory

I set the following enviro

[2017-12-19 19:27] webmakersteve commented on #323
Can you post your dockerfiles here? And I'm pretty sure they are different issues.

@Nagasai-Aytha what OS are you using in your docker container? The output suggests that you don't have a fully featured c++ compiler.

[2017-12-19 19:28] webmakersteve commented on #313
Glad you figured it out. Sorry I wasn't able to respond earlier!

[2017-12-19 19:30] #306 closed

[2017-12-20 08:02] krishanfrog opened #325 "Parallel Consumption of messages from each partition in the non flowing mode"
Non flowing mode reads a fixed number of messages from Kafka at a time manually.

The next messages are not read until requested by the process. This blocks the messages in other partitions which are assigned to the consumer from being read also.

Because the partitions are independent of each other, I would like to parallelly consume messages in each partition in the non flowing mode.

How can I

[2017-12-21 06:06] jianglinchun commented on #323
The right way to install node-rdkafka on centos:

under project root
……
cd node_module
wget https://github.com/Blizzard/node-rdkafka/archive/v2.2.1.tar.gz
tar xvf v2.2.1.tar.gz
mv node-rdkafka-2.2.1 node-rdkafka
cd node-rdkafka/
cd deps/
wget https://github.com/edenhill/librdkafka/archive/v0.11.3.tar.gz
tar xvf v0.11.3.tar.gz
rm -rf ./librdkafka
mv librdkafka-0.11.3 librdkafka
cd librdkafka/
./con

[2017-12-21 12:31] analytik commented on #323
Dockerfile:

[code]

[npm-install-461.sh in gist](https://gist.github.com/analytik/4d163c980c284289484f469d1d156a46)

With these, I get this result:

[code]

[2017-12-21 17:54] senthil5053 opened #326 "Kafka Producer and Consumer stream error"
I use version `2.0.0` of node-rdkafka in my project. I get the below below error very often eventhough my Kakfa cluster is healthy.
`"Kafka readStream consumer error', { [Error: broker transport failure]\n  origin: 'local',\n  message: 'broker transport failure',\n  code: -1,\n  errno: -1,\n  stack: 'Error: Local: Broker transport failure\\n    at Error (native)' }"`

Below is my code for read str

[2017-12-21 18:26] erik-stephens commented on #326
Might be idle connection reaper which is harmless other than the noise.  If so, can consider it noise and [shut it up like so](https://github.com/edenhill/librdkafka/issues/768#issuecomment-246302856) or maybe [adjust metadata refresh rate](https://github.com/edenhill/librdkafka/issues/581).

[2017-12-21 18:39] krishanfrog commented on #319
That just makes the commit() with offset useless because no matter what I commit, I will read whatever message has been buffered already.

Is there a way to clear the batch in such cases and reconsume from the offset stored in the broker?

[2017-12-21 20:22] senthil5053 commented on #326
Thanks @erik-stephens . How can we confirm that this is due to broker's idle connection reaper ?

[2017-12-21 20:28] webmakersteve commented on #319
Commits aren't for you. They are for the broker and other members of the group.

I'm not sure if there is a way to do what you want to do as I've never had this use case presented to me (and still contend there is probably a better way to do what you need to do here).

You may want to try doing manual assignment and filter out any messages with an offset greater than what you want post consume to

[2017-12-21 20:30] erik-stephens commented on #326
I don't know.  Unfortunately librdkafka is simply relaying the error that the broker is returning, so I think will depend on a change to the broker.  If you figure it out, let me know.

[2017-12-24 14:54] michallevin commented on #227
@oliviertassinari I am trying your workaround but the error is still being thrown... 🤔

[2017-12-26 03:30] lovedebug commented on #303
same issue when i zip my project with all node modules from macos to centos.
macos run node 8.9.1, centos run node 8.9.3

[2017-12-27 07:47] clChenLiang opened #327 "fatal error:sasl/sasl.h: No such file or directory"
has meet this problem both in Mac & Linux.
tried to fixed by `brew openssl` on Mac , and successed .
but now in Linux failed . also run `apt-get install openssl` `yum install libssl-dev` with a result of not found the package.
below is the error infos.
thanks

[code]

[2017-12-27 07:49] clChenLiang commented on #327
sorry for my mistake ,the package not found is `cyrus-sasl-devel` & `cyrus-sasl-lib`

[2017-12-27 07:52] clChenLiang commented on #315
I meet the same error message. But my error maybe caused by `scp` error. Fixed by reinstall the npm.

[2017-12-27 09:53] clChenLiang commented on #327
final I fixed the problem on Linux.
Here are some tips.
* the node-rdkafka module relay on some system module ,such as  `ssl` `sasl` ...
* most of them is easy to build or in system, but some not depend on the different system
* you can install the `missing module` by `yum` or `apt-get`
* some of the module you searched in net may not exist , you should find another to replace it . eg. `ibsasl2-de

[2017-12-27 21:35] JonathanGladwin opened #328 "throw err Cannot find module 'node-rdkafka'"
Hello,

I have installed node-rdkafka using "npm install node-rdkafka" command on MacBook Pro.
Then, I am trying to build the following node.js code in Eclipse, but observing the following throw error.

In Eclipse Node.JS application,

[code]

Build Error observed:

[code]

Could someone please help me to solve this error, as I couldn't find a way to fix it?

[2017-12-28 17:54] JonathanGladwin commented on #328
It has been solved by executing the following command in terminal,

cd /Users/pparasuraman/eclipse-workspace/NodeProject1
npm install --save node-rdkafka

https://stackoverflow.com/questions/47999276/throw-err-cannot-find-module-node-rdkafka

[2017-12-29 13:44] tarunrazdan opened #329 "Pm2 server restart if no matching compression algo at consumer end."
We have a Kafka cluster running with lz4 compression.

Pm2 server restarts itself without giving any error information if the compression of packets consumed by the Kafka consumer doesn't match.

To reproduce:
1. Install node-rdkafka without installing the liblz4-dev library.
2. Everything will run smoothly.
3. Now as soon as the packet arrives/consumed, the pm2 server restart itself, without givi

[2017-12-30 09:53] sprijk commented on #321
Cannot replicate anymore (new installation of Kafka)

[2017-12-30 10:04] sprijk opened #330 "KafkaConsumer hangs in disconnect indefinitely when option `rebalance_cb: true`"
This works:

- Start a KafkaConsumer
- Consume a few messages
- Call `disconnect(cb)` with callback function
- Callback function is called

This does not work:

- Start a KafkaConsumer with option `rebalance_cb: true`
- Consume a few messages
- Call `disconnect(cb)` with callback function
- Callback function is *never* called

[2017-12-30 12:34] sprijk commented on #330
See this outcome:
[code]
Could you please evaluate the test script below? (execute with `mocha --require coffee-script/register test.coffee`)
[code]

[2017-12-31 14:33] bobrowadam commented on #321
@sprijk I still get this error. What did you do that solved that?

[2017-12-31 18:34] sprijk commented on #321
@bobrowadam I've implemented my own readable stream (based on extracting data from the KafkaConsumer). So, now I don't have these errors any more.

The only issue I am really having now is described in #330

If you are interested in my readable stream implementation, let me know! (If it would be of any use, I could publish it)

[2018-01-01 07:02] bobrowadam commented on #321
@sprijk I'll be glad to see how did you implement the readable stream thanks!

[2018-01-02 05:48] JonathanGladwin opened #331 "Running Producer code in a Server"
Hello,

I have this Producer code running in Eclipse without any issues. It runs as Node.js application. I want to run this Node.js app in a Server. I have seen about running it in AWS ,  but Is there any other options to run in a free test server environment like Tomcat? Even If I am able to run this node.js app in a server, how do i call from a mobile application? Do I need to call producer.on('

[2018-01-02 12:19] sprijk commented on #321
@bobrowadam It's here: https://www.npmjs.com/package/rdkafka-streams

Let me know if you have any questions or recommendations.

[2018-01-03 02:36] csaroff opened #332 "Performance issues when running multiple node-rdkafka instances"
Hey Steve,

I have an application that creates ~80 node-rdkafka consumers(and growing) using non-flowing mode.  Each consumer fetches a batch of 100 messages, does some processing and then commits.

We're seeing some performance issues with the application including data consumption latency(consumedAt - producedAt).  Running the application with just one node-rdkafka consumer, the latency is on th

[2018-01-03 05:38] JonathanGladwin commented on #331
Solved. as per answer here, https://stackoverflow.com/questions/48055530/running-node-rdkafka-code-in-server?noredirect=1#48055530

[2018-01-04 11:14] bobrowadam commented on #321
Thanks!

[2018-01-05 00:01] prakashkumars commented on #303
Is there any work around available for this issue?

[2018-01-07 11:47] sprijk commented on #330
I am getting these debug warnings a lot when disconnecting:

[code]

Is this a `librdkafka` thing, and should I open an issue there?

[2018-01-07 14:59] tiggerk commented on #303
+1

[2018-01-07 15:50] erik-stephens commented on #330
I bumped into this issue before.  I tracked it to [`self.isConnected()`](https://github.com/Blizzard/node-rdkafka/blob/5307f8fe6e577227920362a7446156e330b77ce4/lib/kafka-consumer.js#L64) which would raise an exception when not connected.

Going off memory as this was a few months ago when I was still getting familiar with the library -   wasn't clear to me where the fault was: me, node-rdkafka, or

[2018-01-07 19:38] sprijk commented on #330
@erik-stephens You are probably referring to #321 ? I'll reopen that issue.

[2018-01-07 19:40] sprijk commented on #321
Due to @erik-stephens 's comment (#330 (comment)), and the added semicolons, I am reopening this issue.

[2018-01-08 14:30] krishanfrog opened #334 "Poll for errors from consumer"
How do I poll for errors in consumer?

According to librdkafka [documentation](https://github.com/edenhill/librdkafka/wiki/Error-handling), even the consumer needs to call the polling API to get error callbacks.

But node-rdkafka doesn't support setting poll interval for consumers.

Is there another way to poll for errors or is this a missing feature?

[2018-01-08 18:15] #321 closed

[2018-01-08 18:25] webmakersteve commented on #303
This issue has been fixed in a previous build. The build directory is now in .npmignore

https://github.com/Blizzard/node-rdkafka/commit/5da5199ff4fe1690a3f4327b2892bf42a2fd75a7

Just verified by running `npm install --ignore-scripts`. If you folks are having the same issue please open a new github issue with details.

[2018-01-08 18:25] #303 closed

[2018-01-08 18:26] webmakersteve commented on #334
It is not a missing feature. You should not need to use `poll` on a consumer. Instead, you should use `consume` which polls for you.

As long as you are calling `consume` on regular intervals you will get errors propagated up to your object.

[2018-01-08 18:26] #334 closed

[2018-01-08 18:28] webmakersteve commented on #330
This could be related to that, and the exception is getting gobbled up. I just merged that PR. Can you try to run these tests again using master and see if they pass?

[2018-01-08 18:31] #331 closed

[2018-01-08 18:44] webmakersteve commented on #332
The performance is going to degrade quite a bit with multiple consumers. One of the reasons is because how JavaScript does multithreading. Events can be pushed to the main libuv thread to be executed on the single threaded js context. This means each consume call buffers the messages it has available. Additionally, each time you call consume it needs to queue that up to be executed on a libuv work

[2018-01-08 18:47] webmakersteve commented on #329
It is probably core dumping without that dependency. It is building (likely) because it is finding header files somewhere but it isn't able to link at run time.

This is just the nature of using C++ unfortunately. Check your core dumps directory and see if there are any node processes there. I think the default is `/var/lib/core`?

[2018-01-08 18:48] #328 closed

[2018-01-08 18:49] webmakersteve commented on #327
Thanks for posting your solution here!

[2018-01-08 18:49] #327 closed

[2018-01-08 18:50] webmakersteve commented on #227
I think this is fixed with #321

[2018-01-08 18:50] #227 closed

[2018-01-08 18:53] webmakersteve commented on #326
If you check the Kafka logs it should tell you when connections are reaped. Broker transport errors can happen because of an unstable network as well. If you aren't seeing impact I think it would be safe to ignore it. `librdkafka` recovers in almost all error cases, but the log is just for your information. It is more concerning when you are producing data than when you are consuming data.

[2018-01-08 18:57] webmakersteve commented on #325
If you want to consume messages without blocking for a batch to be processed you need to split your batch consumers up appropriately. It is the nature of batch processing that you need to finish a batch before you fetch the next one.

If you need a situation where each partition is consumed separately you should use separate consumers. Scale out to ensure you have one consumer per partition. I wou

[2018-01-08 18:59] webmakersteve commented on #316
Your issue was `ld: library not found for -lcrypto`

You need to install `lcrypto` or make sure it is in your ld search paths. It comes with openssl. Closing the issue because it looks like you've both solved it :)

[2018-01-08 18:59] #316 closed

[2018-01-08 19:01] webmakersteve commented on #317
You can get the docs here. https://blizzard.github.io/node-rdkafka/current/

There is no intellisense for Javascript, but if you use typescript you can get the benefits of some of the typescript bindings available.

[2018-01-08 19:01] #317 closed

[2018-01-08 19:27] erik-stephens commented on #330
I re-tested.  I mis-charactized it as self.isConnected() raising an exception but it does have the flavor of "I need to be connected in order to disconnect".  I'm using kafka-consumer, not the streaming version.  For my needs, I'll be using even lower level (no subscribing, managing my own offsets), so not affecting me personally.  I see this from librdkafka logs:

My interpretation is that librdk

[2018-01-08 19:34] webmakersteve commented on #320
Fixed with https://github.com/Blizzard/node-rdkafka/commit/3a2d5835602806f364108cc2fae338e6615a98fe

Thanks for the report and thorough test case! Helped me a lot! :)

[2018-01-08 19:58] rationull commented on #320
@webmakersteve awesome, thanks for the fix!

[2018-01-08 21:22] webmakersteve commented on #315
Does `readelf -a node-librdkafka.node` return anything or is the entire node build artifact corrupted? I just want to isolate this to either the built node-rdkafka binary or a dependency (like ssl).

[2018-01-08 21:24] webmakersteve commented on #323
I just updated the configure utility so it logs why it fails, when it fails. Can you try to use the code at master and see if it helps us any?

[2018-01-08 21:26] #320 closed

[2018-01-08 21:27] webmakersteve commented on #295
I'm not having the same problems with assign as you, and there are some integration tests around it. I'm going to close this issue because it was a specific use-case and not necessarily a general library problem. If you have additional problems with assign open a new issue thread so we can work through those.

[2018-01-08 21:41] jmwilkinson commented on #295
Maybe it would be good just to have some example documentation on the use of assign. Again, as stated in the original question, the issue is around setting the offset and then NOT consuming data.

[2018-01-08 21:59] webmakersteve commented on #295
Sure. I can totally agree with you that assign is not documented well enough. I'll work on adding some documentation around it to the README.

And sorry, I think I may be mixing up this issue with another one.

You should just be able to give the offsets you want to the `commit` method to accomplish what you want to do. If that isn't working for you I'll try to take a look.

[2018-01-08 22:24] csaroff commented on #332
@webmakersteve Thank you so much for the extensive right up!

We've actually had this set to 128 for a long time trying to resolve an unrelated issue.  Perhaps this is set too high?

We're still discussing internally on how much of this we're allowed to share here, but this is what I can give you so far.  Each of these consumers is conceptually performing some failure-prone action.  An action migh

[2018-01-08 22:49] localzjaz commented on #323
I've been working through that issue `Call to 'node ../util/get-lib-dirs.js include' returned exit status 1` recently. For me it only happens on node6/7 (not node4/8/9) on my dockers.

You can work through it by using a non-root user for npm install or using the npm `--unsafe-perm` flag (which I'm not sure about yet). Possibly something to do with install scripts trying to write/read somewhere tha

[2018-01-09 15:36] ls12styler opened #335 "Cannot consume from 'earliest' offset."
Hello!

I've created a very basic consumer and I want to consume from the beginning of the topic every time it starts, however, it doesn't seem to be working - always consuming from latest. I know there are a number of messages on the topic and this seems to be the case even with brand a new `group.id`.

This is my consumer code:
[code]

I thought I was using the correct configuration as per the l

[2018-01-09 19:02] webmakersteve commented on #335
Can you try using `kafkacat` to consume off the same broker from the beginning and ensure that the messages you expect are there? What you have there should definitely work, and I do it all the time :P

Ensure you're trying with a group id in case a commit came through. Also it may help to check the broker status for the group you're using to make sure it has not committed somehow.

[2018-01-10 20:42] ls12styler commented on #335
Hey @webmakersteve, thanks for the response.

I'm running this against a local cluster using https://github.com/wurstmeister/kafka-docker.

I'm still seeing the same issue and I've added a `Date.now()` to the setting of `group.id` to ensure it's unique every time it starts. I have had this working previously using the same consumer options.

I've run the app app twice, the first without any messag

[2018-01-10 21:02] ls12styler commented on #335
Can confirm it's not just inside the docker container, but also on my local machine too (`rm -rf`'d my node_modules and reinstalled locally):
[code]

[2018-01-10 21:40] ottomata opened #336 "How to subscribe/assign a consumer based on a timestamp instead of offset?"
Hiya!

I'm looking into building in timestamp based subscription support to [KafkaSSE](https://github.com/wikimedia/KafkaSSE) and [Wikimedia EventStreams](https://github.com/wikimedia/mediawiki-services-eventstreams#eventstreams).  Using the latest node-rdkafka and a Kafka 1.0 cluster, I can get the message timestamps from the consumer no problem.  But, if I'd like to use one of these to assign th

[2018-01-11 08:25] sprijk commented on #330
This is the exact same thing as I am seeing. If you add `rebalace_cb: true` in the `e2e` tests (of this project) for the Consumer test, it will fail.

@webmakersteve Can you check this?

[2018-01-11 14:10] analytik commented on #323
Hi, thanks to both of you for your responses.

[I've created a gist for this](https://gist.github.com/analytik/3804cb7716a5badf40f0b9b26a53b733) - the first two are the npm log + console output from the broken build with plain old `npm install`, the third shows when I try localzjaz's suggestions and do `npm install --unsafe-perm` - if you don't find an easy fix for this, I can just use the `--unsa

[2018-01-11 14:55] emilesalem opened #337 "implement subscribe(pattern)"
other libraries (https://kafka.apache.org/0100/javadoc/org/apache/kafka/clients/consumer/KafkaConsumer.html#subscribe(java.util.regex.Pattern,%20org.apache.kafka.clients.consumer.ConsumerRebalanceListener)) let the consumer subscribe to topics matching given pattern. Would be nice to have.

[2018-01-11 22:23] webmakersteve commented on #337
You can already subscribe to regular expressions. The code will look if the type of an element of an array is a regular expression, and if so, will use it instead of a string.

[2018-01-12 21:05] sawdiggy opened #338 "error_cb"
Would it be possible to allow the error_cb to be added?  It seems this is not supported (but part of librdkafka)

Thanks

[2018-01-14 15:31] michallevin commented on #179
@terrywh @hugebdu Were you able to solve your memory issue?

[2018-01-14 15:54] hugebdu commented on #179
@michallevin after a long journey of trying various kafka node clients, using no-kafka. so far so good. but it's entirely node.js implementation, not a native driver kafka, for good and for bad.

good luck

[2018-01-14 16:05] michallevin commented on #179
@hugebdu Wow, surprising. We were thinking the problem might not be in Kafka at all. We are using Highland.js and uploading files to S3...

[2018-01-15 01:23] JaapRood commented on #336
You present an interesting use-case, but as far as I know Kafka can only consume from an offset. It's the key by which the order guarantee is achieved. I haven't done this myself, but I'm pretty sure timestamps can be out of order because you can write it yourself, allowing for late arriving messages. That would make consuming from a timestamp pretty hard, as you can't be sure by reading a random

[2018-01-15 12:49] krishanfrog opened #339 "Node consumer process crashing with SIGSEGV"
My consumer process crashes on starting up with SIGSEGV error. I tried debugging with segfault-handler but the crash log is absent. Without the node-rdkafka library the consumer process starts.

Is this something known and any ideas how can I debug this further for some logs/fixes?

[2018-01-15 15:04] Multiply commented on #335
For what it's worth, I am seeing the same issue.

[2018-01-15 16:24] erik-stephens commented on #335
Have you enabled debug output?  I suspect you'll see an explanation of why it's not fetching with options `debug=all` and `event_cb=true` coupled with an `event.log` handler.

[2018-01-15 21:09] ls12styler commented on #335
Hi @erik-stephens,

I have done as requested. Initially, I set `debug` to `all` and that was very noisy. I slimmed it down to just `cgrp` and saw this come out in the console:
[code]
I thought that to be particularly interesting.

[2018-01-15 22:02] erik-stephens commented on #335
I don't think that's an error msg [1][2].  Does adding `fetch` to `debug` show anything interesting?  It might help to compare kafkacat's debug output (`-d`) with your program's output to help see why it's behaving so differently.

- [1] https://github.com/edenhill/librdkafka/blob/ce67923e8b28f0f82034a1af3b3c88375c3f5a7b/src/rdkafka_request.c#L406
- [2] https://github.com/edenhill/librdkafka/blob/

[2018-01-16 09:26] Multiply commented on #335
I've been looking through the sourcecode for `kafkacat` and I can't seem to find any mention of it using the `-o beginning` option with the `-G` (`kafkaconsumer_run`) option.
It only seems to be used when using the `-C` (`consumer_run`) option.

I'm also seeing quite a few of the `offset INVALID`, if that helps.

[2018-01-16 16:52] ottomata commented on #336
[Since 0.10.1](https://www.confluent.io/blog/announcing-apache-kafka-0-10-1-0/), Kafka has had a timestamp offset index from which you can lookup an offset by timestamp.

Ya, the order isn't quite as strong as offsets are, but for many use cases (including mine) that is totally fine.  :)

[2018-01-16 18:10] webmakersteve commented on #330
Looks like it is caused because of the `isConnected` check. I adjusted it so unassign can be called while the consumer is closing and it fixed the issue. I also made sure rebalance cb is on during the end to end tests to catch this in the future.

22c713b2d9dfbb2b0ef9d42bf2b890c4ed9e4133

[2018-01-17 00:01] webmakersteve commented on #339
No idea why you're getting a segfault without any logs. You should use gdp to get some more information

[code]

[2018-01-17 00:41] webmakersteve commented on #179
@michallevin if you're having memory leak issues in your application, try to isolate it if you can. We've had memory leaks in the software before but I think we've resolved all of them. We run these consumers all day every day, but there still could be leaks in the consumer in edge cases that we may not be hitting.

But going to close this issue. Open a new one if you're having trouble!

[2018-01-17 00:41] #179 closed

[2018-01-17 08:38] michallevin commented on #179
@webmakersteve @hugebdu We were just able to solve our issue with `queued.max.messages.kbytes`. We realized the default is ~1GB per topic 😮

[2018-01-17 08:41] hugebdu commented on #179
@michallevin I remember I did try playing with various config opts and still having issues. Also it was crashing completely with node 7 (yup, I know it wasn't LTS)

[2018-01-17 13:23] ls12styler commented on #335
Oh my goodness. I've been a complete idiot.

`auto.offset.reset` is a *TOPIC* config, not consumer config.

So when create an instance of the KafkaConsumer, `auto.offset.reset` should be passed in the *second* set of arguments.

So my code in the original would looks like this:
[code]

My sincerest of apologies.

[2018-01-17 13:23] #335 closed

[2018-01-17 13:24] Multiply commented on #335
I've completely missed that as well. Thanks @ls12styler for that! I was going crazy testing back and forth :D

[2018-01-17 13:59] ls12styler commented on #335
No worries. Sorry for being a n00b :/

[2018-01-17 20:22] buzzvamsi commented on #323
Any updates on this issue? I still see it fails when i do a npm install

[2018-01-18 05:12] prabathabey opened #340 "KafkaConsumer hangs without pulling messages out of Kafka."
I've just encountered a problem where the KafkaConsumer instance used in an application hangs indefinitely without pulling messages out of Kafka. The same implementation, however, worked perfectly without any problem before (the only recent change being adding support for "log.connection.close" property). Everything seems to work fine (registering subscriptions, etc) up until the point where the c

[2018-01-18 12:58] prabathabey commented on #340
Recompiling node-rdkafka with in debug mode, and debugging the module in gdb yielded the following ouput.

(gdb) set environment SOME_HOME=/some/path
(gdb) set args /some/path//lib/Main.js
(gdb) run
Starting program: /opt/node-v8.9.4/bin/node /some/path/lib/Main.js
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib/x86_64-linux-gnu/libthread_db.so.1".
[New Thread 0

[2018-01-18 13:39] gabrielgradinaru commented on #315
Hi, I have the same issue and `readelf -a node_modules/node-rdkafka/build/Release/node-librdkafka.node` returns:
 `readelf: Error: Not an ELF file - it has the wrong magic bytes at the start`
Is there any other info I can provide that may help?

[2018-01-18 23:15] JaapRood commented on #336
You're totally right! For those as curious as me, digging a little bit deeper, [the KIP that introduced this](https://cwiki.apache.org/confluence/pages/viewpage.action?pageId=65868090) mentions some usecases it's meant to support:

Looking at bit more at how they chose to implement this, it seems they have added a 'offsetsForTimes` to the KafkaConsumer, accepting a list of topic partitions and tim

[2018-01-19 00:21] mario-grgic opened #341 "Is it possible to completely manage offsets by application."
I am evaluating node-rdkafka for a particular use case. I only have experience using Java Kafka client, and it seems node-rdkafka is quite different.

In Java world, the client would poll and fetch a certain number of messages, the application loops through the messages and usually commits something to the database also committing offsets for the partition(s) the message belongs too.

In case of r

[2018-01-19 00:38] erik-stephens commented on #341
I think so using `assign()`.  You may find #313 & confluentinc/confluent-kafka-go#91 helpful.

[2018-01-19 00:52] mario-grgic commented on #341
Sure, assign allows me to restore offsets and to start consuming from persisted offsets for specified partitions.

But how do you poll for messages manually when you want a batch of messages? Basically something like:

[code]

where `processData` saves data and partition/offsets to DB.

[2018-01-19 01:28] erik-stephens commented on #341
If the question is how to poll, then something like the following?
[code]

[2018-01-19 01:34] mario-grgic commented on #341
It seems this:

[code]

gives continuous stream of data. It does not give me a "batch" i.e. an array of messages (whose size depends on various Kafka params).

Basically, this just fires rapidly indefinitely, and you have to process message one by one, leading to a problem if one message takes longer to process than the next, the persisted offset will be wrong.

[2018-01-19 04:51] prabathabey commented on #340
Further debugging revealed that a dependency conflict has resulted in the issue outlined above. Found a resolution, and therefore, closing the ticket.

[2018-01-19 04:51] #340 closed

[2018-01-19 20:59] Tapppi commented on #310
Yep, 10 minute interval, pretty sure this is just dubious logging when the idle reaper comes calling. It's pretty annoying that it ends up repoting it multiple times, but I think I'll rather write a debouncer in our wrapper rather than ignore all connection close messages 🤔

[2018-01-23 02:52] #314 closed

[2018-01-23 11:57] IdanAdar commented on #147
How does one install this missing piece in CentOS?

[2018-01-23 12:04] oliviertassinari commented on #48
Note that if you have high throughput, it's discouraged to commit on each message - commit is not as light as reading data and will make broker spend too much time on updating offset everytime. Commit every 100ms or every 10msg for example.

[2018-01-24 15:02] oliviertassinari opened #344 "TypeError: Cannot read property 'isConnected' of null"
I ended up in the following edge case:
1. I close the producer stream
2. I try to write in the producer stream
3. An error is throw: `TypeError: Cannot read property 'isConnected' of null` from this line: https://github.com/Blizzard/node-rdkafka/blob/22c713b2d9dfbb2b0ef9d42bf2b890c4ed9e4133/lib/producer-stream.js#L121

This is the expected behavior given the producer is cleared:
https://github.com

[2018-01-24 23:58] clayne11 commented on #341
It looks to me like you can just use the `[consume](https://blizzard.github.io/node-rdkafka/current/KafkaConsumer.html#consume)` method.

[code]

[2018-01-25 11:09] oliviertassinari opened #345 "[feature] Multi topics and partitions commit"
In order to prevent messages lost. I'm reimplementing the offset commit logic on userland (I commit only once the messages are processed, not received).
I'm using the `'enable.auto.commit': false` global option to disable the "auto commit". I'm also batching the commit of the offsets evert *X* messages or *Y* seconds. In order to do so, I call the async `consumer.commit()` API multiple times (one

[2018-01-25 13:40] oliviertassinari commented on #344
Oh, it's an already existing pattern:
https://github.com/Blizzard/node-rdkafka/blob/3a2d5835602806f364108cc2fae338e6615a98fe/lib/producer.js#L166

[2018-01-25 14:11] oliviertassinari commented on #330
The issue might not be `rebalance_cb` specific. I'm experiencing it too when I try to close a readable stream quickly after opening it.

[2018-01-25 15:22] oliviertassinari commented on #330
Well, my issue is probably linked to the rebalancing. I have the following log from kafka:

[2018-01-25 19:13] sprijk commented on #330
Nice! For me https://github.com/Blizzard/node-rdkafka/commit/22c713b2d9dfbb2b0ef9d42bf2b890c4ed9e4133 works like a charm!

[2018-01-25 20:50] mario-grgic commented on #341
I have managed to consume message(s) synchronously (i.e. get one message, process it, get another etc) as follows:

[code]

However, my main concern now is if librdkafka or its wrapper is going to keep consuming and buffering messages while I am taking my time to run processData here. What if processData is taking say an hour? Will everything continue to work?

[2018-01-25 21:33] petermelias commented on #196
I think I have reproduced this exact case. @hugebdu @webmakersteve

Here is a [Gist](https://gist.github.com/petermelias/17f276f4bdc73eafa6c3741697f62d71) whose first case reproduces this contention between `disconnect` and the `rebalance_cb`.

While `assign` and `unassign` of course are just local calls, `subscribe` and `unsubscribe` are not (correct me if I'm wrong). It appears that calling `uns

[2018-01-31 19:36] nabeelz6 opened #346 "Consumer commits only after successful message produce"
I have the following stream processing use case:
1. Consume a message
2. Do some processing on that message
3. Produce the result to a different topic

After step 3 is successful (i.e. producer message got successfully written to Kafka and acknowledged), I'd like to commit the offset for the consumer but not before.

Is there a fool-proof way to ensure I commit the right offset for the consumed+pr

[2018-01-31 23:06] localzjaz commented on #346
In my previous experiments you do need to worry about committing out of order offsets. By that I mean if you commit an offset older than what is committed I'm pretty sure that will be accepted. Will you get out of order offsets from the callback? I don't know.

[2018-02-06 23:01] Sebmaster opened #348 "Missed console.log in kafka consumer"
Seems like the fix for the missing disconnected callback in https://github.com/Blizzard/node-rdkafka/commit/22c713b2d9dfbb2b0ef9d42bf2b890c4ed9e4133#diff-644c031d57add73b5f286c3fce654940R68 left a `console.log` in there.

Also: Can we get a new version with that fix published to npm?

[2018-02-09 07:13] atulkumar-it opened #349 "Error: Local: Authentication failure" with node-rdkafka"
I am using node-rdkafka 2.0.0 version.
My application is trying to make connection with IBM MessageHub, Below are the config.
'security.protocol' : 'sasl_ssl',
'ssl.ca.location' : '/etc/ssl/certs',
'sasl.mechanisms' : 'PLAIN',
'api.version.request' : true,
'compression.codec' : 'gzip',
'retry.backoff.ms' : 1000,
'message.send.max.retries' : 5,
'socket.keepalive.enable' : true,
'delivery.report.onl

[2018-02-09 22:36] webmakersteve commented on #147
It should be libsasl-dev in the centos yum repositories.

[2018-02-09 22:40] webmakersteve commented on #338
`error_cb` is new. You should be using `event_cb`, which will propagate `event.error` to the emitter.

[2018-02-10 22:14] webmakersteve commented on #315
I've seen this when the binary was compiled with a strange version of gcc that may not have been full featured.

If you can give me a container that exhibits this problem with only node-rdkafka inside i can potentially exec in and debug it. I'm sure I could come up with one if the bug is reproducible otherwise, but that is one way to help :)

[2018-02-10 22:15] webmakersteve commented on #344
It shouldn't throw a null pointer, so that needs to be adjusted if it is happening. I would prefer it throwing a more specific exception. So it's definitely a bug!

[2018-02-10 22:19] webmakersteve commented on #344
Fixed with https://github.com/Blizzard/node-rdkafka/commit/a864340ef345b721414ec9be6245b3064ddae738

No need for the producer to be set to null. I did it previously because the stream has undefined behavior once the producer internally has been closed, but I also want to provide the flexibility of accessing the internal producer after the stream has been closed (e.g. to get metrics, etc..)

So, I

[2018-02-10 22:21] webmakersteve commented on #314
If you want to produce synchronously, you can do:

[code]

[2018-02-10 22:24] webmakersteve commented on #341
`librdkafka` has a max queue buffer size. If your processing functions are taking long, so long as you have a limit on how often you are calling consume, you will only have so many messages in the buffer available to you. Additionally, auto committing offsets will only happen if the message has not only been read, but passed to you through consume.

Librdkafka, however, will continue heartbeating

[2018-02-10 22:28] webmakersteve commented on #346
Messages are read in order per partition. Offsets are stored per partition. As long as you are processing messages serially, you can just commit to the highest offset.

But consider this:

1. Consume messages using a kafka consumer in batches
2. Process messages, in batches
3. Produce messages, in batches
4. Every so often on an interval, call the `producer.flush()` method
- If the method errors o

[2018-02-10 22:29] webmakersteve commented on #330
This has been merged in and is fixed.
🎉

[2018-02-10 22:29] #330 closed

[2018-02-10 22:34] oliviertassinari commented on #344
:+1:

[2018-02-10 22:34] #344 closed

[2018-02-10 22:38] webmakersteve commented on #323
Sorry. I've been very busy lately and haven't had enough time to devote to library maintenance.

@buzzvamsi are you having the exact same issue or is it separate? `npm install` issues can deceivingly look similar even when they are very different.

In any event, when debugging issues with the utility scripts, i recommend doing a force install in NPM and then running each step manually so you can s

[2018-02-10 22:41] webmakersteve commented on #196
I believe that with this commit the issue may be helped:

https://github.com/Blizzard/node-rdkafka/commit/22c713b2d9dfbb2b0ef9d42bf2b890c4ed9e4133

This will allow assigns and unassigns to go through even when the producer isn't connected, hopefully letting the rebalance callback resolve when a custom one is specified.

@petermelias you are correct. Subscribe and unsubscribe require the group lead

[2018-02-10 22:41] #196 closed

[2018-02-10 22:43] webmakersteve commented on #349
Calling `disconnect` and `reconnect` on an object should cause it to reconnect, however, if there is an error connecting I recommend you make a new object if you are trying to recover in those failure cases because the state could be unknown.

As far as that authetnication failure - it looks like it is just a credential problem and not something inside `librdkafka`. I would just ensure the SASL st

[2018-02-10 22:49] webmakersteve commented on #345
The commit calls under the hoot will still be multiple requests to the broker, but I am totally for a JSland function that will allow an array of topic, partition, and offsets to be provided in order to help optimize this case - if that's what you're envisioning.

[2018-02-10 23:00] oliviertassinari commented on #345
Oh great. So there is no performance overhead with my approach. The issue is solved as far as I'm concern.

[2018-02-10 23:08] prabathabey commented on #314
Thanks Steve. I've actually figured this out after a quick look into the sources, and therefore closed the ticket earlier. Thanks anyways.

[2018-02-11 19:22] webmakersteve commented on #345
Well, it isn't a 1:1 request-per-call necessarily, so we can definitely get more performance out of commits.

https://github.com/edenhill/librdkafka/blob/master/src-cpp/rdkafkacpp.h#L1685

There is a method I can bind to that will take an array so I will go ahead implementing that. Shouldn't be too long and it will make it in the next release!

[2018-02-12 05:57] thomaslee opened #350 "Commit callbacks don't seem to be invoked until disconnect() is called"
I can't work out the expected semantics of `offset_commit_cb: <function>`. Probably worth noting I'm using `auto.commit.enabled=false`.

See this repro case: https://gist.github.com/thomaslee/cb080010ab950956f7efc312dfbc5e2f#file-repro-js (there's a little unused/unnecessary diagnostic code in there left in place in case it's useful).

I was expecting `offset_commit_cb` to be invoked each time I c

[2018-02-12 12:35] mario-grgic commented on #341
Thank you for the clarification. I have also run some experiments with my code above taking 1 hour to process each message, while a bunch of producers were writing to Kafka at the same time on the same topic. I left this running all weekend and it all worked fine (messages were really small on the other hand).

I have also taken a look at go and python clients and they also use librdkafka to imple

[2018-02-12 18:17] webmakersteve commented on #341
Node is an async language for IO operations. I kept that in mind when designing the interface to the client. This, however, complicates things a lot when you want to keep the poll loop pattern of doing things that librdkafka has.

The way I suggest doing something very similar is by using streams. If you get a consumer read stream, back pressure will stop the consumer from reading too many message

[2018-02-12 18:20] webmakersteve commented on #350
The consumer's consume method is the thing that initiates a request to the consumer and does a lot of housekeeping, such as sending asynchronously sent commits. When you call disconnect, it is cleaning up by sending out pending requests. But the library is optimized, so it will try to batch up the sends as best as it can.

I think you can get around what you're trying to do by using the sync commi

[2018-02-12 20:29] webmakersteve commented on #345
Support added with #351

[2018-02-12 20:31] webmakersteve commented on #345
Published 2.2.3

f5b9d802e562b47dc9125f262aa2a51fb9f3c71b

[2018-02-12 20:32] #345 closed

[2018-02-12 20:33] oliviertassinari commented on #345
@webmakersteve Thank you a lot. I will update our integration with `node-rdkafka` :).

[2018-02-12 20:36] oliviertassinari commented on #350
@thomaslee I believe I have already experienced this issue. As far as I know `auto.commit.enabled=false` does nothing. It's `'enable.auto.commit': false,`.

[2018-02-13 00:33] nadeem4n opened #352 "Getting error 'LZ4F_freeDecompressionContext: symbol not found' when running inside docker alpine"
Hi,

We are getting the following error when trying to include `node-rdkafka`. Here is the error stack trace (please see other details below).

[code]

**Docker version:** 17.09
**System:** alpine-minirootfs-3.5.2-x86_64
**NodeJS version:** LTS 8.9.3
**node-rdkafka version:** 2.2.3

**Dockerfile:**

[code]

And then we would use this base node image to create an actual app image where we would do

[2018-02-13 05:14] thomaslee commented on #350
Finally figured it out while playing around with librdkafka++: @webmakersteve you were right that the key to it all is consume(), the thing that caught me up here was that each prior consume() completed prior to the _final_ consume(): the commits were still in flight when the final consume() was invoked. Adding a sleep between each call to consume() (via `setTimeout`) gives each commit time to com

[2018-02-13 05:14] #350 closed

[2018-02-13 21:06] nadeem4n commented on #352
Hi @webmakersteve ,

I may have missed some details. This is not a compile time error, this is a **runtime error**.

Can you clarify this a little more?

[code]

Are there any specific instructions to compile it as a system package coz it may turn out to be the same issue even if we do that. Also about `full featured versions of library dependencies`, which specific libraries should we include / u

[2018-02-14 13:20] stefanhipfel opened #354 "Local: Authentication failure: (errno: Invalid argument): secured sasl_ssl plain kafka"
Hi everyone,

I can't connect to a secured sasl_ssl plain kafka with my producer using node-rdkafka version 2.2.3.
librdkafkaVersion: 0.11.1
features: gzip,snappy,ssl,sasl,regex,lz4,sasl_gssapi,sasl_plain,sasl_scram,plugins.

My settings:
[code]

Logs:

[code]

I checked and my username/password are correct! Not sure what else to do/try. Any help is highly appreciated!

Thanks!

[2018-02-15 14:26] stefanhipfel commented on #354
Found the issue: https://github.com/edenhill/librdkafka/issues/1691

[2018-02-16 20:58] Sebmaster commented on #348
Fixed by 26a2a1fc5091b594f4807274c691c814832db991 🎉

[2018-02-16 20:58] #348 closed

[2018-02-16 21:45] mjafarpour opened #355 "Read Data in round robin sequence with multiple consumer"
Hi,
I use this scenario :

1.Use a topic with 3 partitions
2. Use Producer in stream form
3. Use Consumer in Stream form with different group.id

I want the consumers get unique message but i see the 3 consumers get same message from queue and this consumers is a kind of task worker.
I try to use 'partition.assignment.strategy' with 'roundrobin' but NOT worked.
How can run this scenario?

[2018-02-18 06:35] subhasisbanik opened #356 "Unable to install node-rdkafka"
Hi,
I am running the below command to install node-rdkafka into my node app:
npm install node-rdkafka --save

But it seems node-gyp is throwing me the issue,
gyp ERR! build error
gyp ERR! stack Error: `make` failed with exit code: 2
gyp ERR! stack     at ChildProcess.onExit (/usr/local/lib/node_modules/npm/node_modules/node-gyp/lib/build.js:258:23)
gyp ERR! stack     at ChildProcess.emit (events.j

[2018-02-18 22:43] webmakersteve commented on #355
Your consumers need to have the same group id in order to do what you’re asking.

[2018-02-18 22:45] webmakersteve commented on #356
You need to install crypto and ssl libraries. I believe on Ubuntu you can instal openssl-dev for those.

[2018-02-20 03:01] subhasisbanik commented on #356
Hi,
I installed,
sudo apt-get install libssl-dev
and then tried to,
npm install -g node-rdkafka
But it seems it fails again.
Attached is the screenshot.
![unable to install node-rdkafka](https://user-images.githubusercontent.com/25420904/36405779-6158a128-1618-11e8-9603-baf17289c07c.png)

[2018-02-20 12:07] #355 closed

[2018-02-20 17:39] webmakersteve commented on #356
This was happening to a few other people too but I haven't been able to pinpoint the problem.

Does installing it not globally work? That's probably the recommended way to do it anyway.

[2018-02-20 20:53] yerol commented on #324
I had to install openssl x64 version to overcome this issue. It is not mentioned in the readme but the vsproj requires 64 bit version if your system is 64 bit.

It needs to be on c:\OpenSSL-Win64 folder

[2018-02-21 16:04] #341 closed

[2018-02-21 18:39] subhasisbanik commented on #356
No, it doesnt work in anyway I try..
Please help..

[2018-02-22 02:37] idangozlan opened #358 "How to manually commit on Stream API?"
I wonder if there's a way to commit on Stream API when setting:
'enable.auto.commit': false

[2018-02-22 08:40] stefanhipfel commented on #358
Have you tried this: consumerStream.consumer.commitMessage(message) ?

[2018-02-22 22:29] idangozlan commented on #358
Thanks! I will add it to the Readme file

[2018-02-22 22:29] #358 closed

[2018-02-23 19:38] Pchelolo commented on #330
I'm still experiencing the same issue - when `rebalance_cb` is set to true, tests won't exit after disconnect is called.

[2018-02-24 11:52] subhasisbanik opened #360 "How to process consumer data with Avro?"
I am getting Avro messages from Producer and would like to process the same in my consumer.
I am using,
https://www.npmjs.com/package/avsc

But it seems that consumer isn't processing anything and even not throwing any errors.
Could you please help me?

[2018-02-25 09:40] IdanAdar opened #361 "Unable to run rdkafka with Alpine (node:6 and node:8)"
We are using the following as a base image:
[code]

We then use this base image in the following Dockerfile:
[code]

When the built image is then attempting to start, we get the following error in the log:
[code]
[code]

Has anyone encountered this issue with rdkafka and Alpine and knows of a workaround or solution?

[2018-02-26 09:21] stefanhipfel opened #362 "librdkafka Upgrade"
Hi,

is there a timeline when node-rdkafka will be upgraded to the next librdkafka version?

Thanks a lot in advance!

[2018-02-27 01:37] jobetdelima commented on #318
Any update on this one? I'm assuming this means this node module doesn't support being able to send AVRO data with a producer? Thanks

[2018-02-27 08:23] weekens opened #363 "Cannot start more than 5 consumers sequentially"
Given the following code:

[code]

I get the following output:

[code]

(then it hangs).

If the connection is done in parallel (remove `return` statement before `new P`), it works fine:

[code]

If it's not a bug, then what am I doing wrong?

Kafka version 1.0.0.

[2018-02-27 15:04] dassader opened #364 "Space in path the reason of "no such file or directory" [make failed]"
I have error: `no such file or directory` when i try `npm install node-rdkafka` into folder which has space in name. But when i remove spaces the problem has gone.
![image](https://user-images.githubusercontent.com/6272505/36735631-47d0ff08-1bdf-11e8-9e34-b253dec7493a.png)

OS: High Sierra 10.13.3
NPM: 5.6.0
Node: 8.9.4

[2018-02-28 10:07] krishanfrog opened #366 "Use master branch of librdkafka"
I am facing an issue with consumers during rebalancing.

I see that the issue has been fixed on the master branch of librdkafka and I want to test and use the updated library. Is there a documented/safe way of updating the librdkafka library in the node module?

[2018-02-28 12:29] oliviertassinari opened #367 "I/O event loop blocked for 30s 😱"
This issue is part of my effort to make our api kafka fault-tolerant.

Let's say kafka is down. This library will try to fetch the meta data of the cluster
https://github.com/Blizzard/node-rdkafka/blob/f5b9d802e562b47dc9125f262aa2a51fb9f3c71b/lib/client.js#L336
with a 30s timeout
https://github.com/Blizzard/node-rdkafka/blob/22c713b2d9dfbb2b0ef9d42bf2b890c4ed9e4133/src/connection.cc#L207

⚠️ This

[2018-03-01 15:27] FuzzOli87 commented on #360
@subhasisbanik I wrote a library last year that wrapped this library and avsc to produce and consume Avro messages. I need to do some updates on it but you can see the implementation here:
https://github.com/parkhub/iris/blob/master/src/lib/wrapConsumerHandler.js

You have to define the schema you want to use to decode your messages first and then decode it.

[2018-03-01 21:11] rbustami commented on #362
Bump

[2018-03-01 21:37] webmakersteve commented on #362
I was seeing if I could hold out until the next release which has some other bug fixes I'm looking for. But I'm not sure when it's going to be released. Will look into upgrading in the next week.

[2018-03-01 23:15] yoelfme commented on #181
hey @eladitzhakian how did you resolve your issue, because I'm also experiencing this memory leak? any ideas?

[2018-03-01 23:23] erik-stephens commented on #181
@yoelfme This issue was created before edenhill/librdkafka#1384 resolved.  If your librdkafka version is before that one, then should upgrade.

[2018-03-02 08:03] stefanhipfel commented on #362
Maybe worth waiting for 0.11.4:
https://github.com/edenhill/librdkafka/issues/1712

[2018-03-04 11:23] dima-guzi commented on #352
I think @webmakersteve meant recompiling the module with the problematic libraries installed.
Adding the following packages in Alpine then reinstalling node-rdkafka did the trick for me:
`lz4-dev lz4 lz4-libs py-lz4`
Not sure you need all of them, but it shouldn't cause problems anyways.

[2018-03-04 16:45] IdanAdar commented on #111
@FuzzOli87, any idea Why it works, though?

Why do you need these?
yarn --repository http://dl-3.alpinelinux.org/alpine/edge/community/ --allow-untrusted
libc6-compat
dumb-init --repository http://dl-3.alpinelinux.org/alpine/edge/community/ --allow-untrusted

Why do you reference these in this way? (edge, specific packages from libressl)
libressl2.5-libcrypto --repository http://dl-3.alpinelinux.o

[2018-03-04 22:59] petermelias commented on #299
@webmakersteve I encountered this exact issue, and for the exact use case outlined by @JaapRood  as well. I reached the same conclusion that the JS -> C++/C cast of `-1`, `-2` etc... was the root cause of the issue as `librdkafka` defines those magic constants as `int64_t` values.

I attempted to work around this with a variety of the native-c integer type libraries for Node.js but had no luck wit

[2018-03-05 01:21] webmakersteve commented on #367
It's already using `libuv` for that call. If it is blocking `fs.readfile` while doing metadata it is because `libuv` leverages a thread pool per process. The default size of this thread pool is 4 threads, so if you have 3 other busy threads, the read file call is not getting priority.

Additionally, `librdkafka` will automatically reconnect on failure cases, so you should not have to do the logic

[2018-03-05 01:24] webmakersteve commented on #356
Taking another look at the logs you posted, it looks like it is a file permission issue.

https://stackoverflow.com/questions/18136746/npm-install-failed-with-cannot-run-in-wd

Try what that says and see if that fixes the issue.

[2018-03-05 01:25] webmakersteve commented on #361
alpine has a lightweight version of glibc that causes a lot of problems with threading. I believe you need a full featured glibc in order to get it to work.

I am going to try to make an alpine base image since it is so commonly requested that solves these issues.

[2018-03-05 04:46] mattness commented on #337
Closing, since similar functionality exists and no further information has been provided.

[2018-03-05 04:46] #337 closed

[2018-03-05 08:35] oliviertassinari commented on #367
Thanks for the answer! It could be linked to size of the `libuv` threadpool. My node process start 4 different producers.
I'm using the stream API. I'm not doing any manual call to `getMetadata`.
I will read more on the `UV_THREADPOOL_SIZE` implications. Either I will try to increase the value or I will make the 4 producers initialization in serie, not in paralell.